<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../ev-styles/colour.html">
<link rel="import" href="../ev-styles/typography.html">
<link rel="import" href="../ev-dialog/ev-dialog.html">
<link rel="import" href="../ev-widget-behavior/ev-widget-behavior.html">
<link rel="import" href="ev-video-behavior.html">
<link rel="import" href="tweenmax-import.html">
<link rel="import" href="import-resources.html">

<dom-module id="ev-personalised-video-dev">
  <template>
    <style>
      :host {
        width: 100%;
        height: 100%;
        max-width: 1280px;
        max-height: 720px;
        @apply --ev-font-common-base;
      }

      .video-container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
      }

      .player {
        position: relative;
        width: 100%;
        height: 100%;
        min-width: var(--ev-player-min-width, 340px);
        min-height: 200px;
        max-height: 720px;
        overflow: hidden;
      }

      svg {
        position: relative;
      }

      .svg-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--ev-track-controls-background-color, var(--ev-icon-fill));
        min-height: var(--ev-player-svg-container-min-height, 200px);
        text-align: center;
      }

      .subtitles-holder {
        position: absolute;
        width: 100%;
        height: 102px;
        background: rgba(0, 0, 0, 0.6);
        text-align: center;
        opacity: 0;
        padding: 10px 50px 42px;
        font-size: 28px;
        display: flex;
        box-sizing: border-box;
        bottom: 0;
        display: none;
      }

      .subtitles-text {
        color: white;
        margin: auto;
      }

      @media only screen and (max-width: 1200px) {
        .subtitles-holder {
          height: 127px;
          font-size: 26px;
          padding: 10px 50px 42px;
        }
      }

      @media only screen and (max-width: 1100px) {
        .subtitles-holder {
          height: 122px;
          font-size: 24px;
          padding: 10px 50px 42px;
        }
      }

      @media only screen and (max-width: 1000px) {
        .subtitles-holder {
          height: 114px;
          font-size: 22px;
          padding: 8px 45px 42px;
        }
      }

      @media only screen and (max-width: 900px) {
        .subtitles-holder {
          height: 110px;
          font-size: 21px;
          padding: 8px 40px 42px;
        }
      }

      @media only screen and (max-width: 800px) {
        .subtitles-holder {
          height: 108px;
          font-size: 20px;
          padding: 8px 35px 42px;
        }
      }

      @media only screen and (max-width: 700px) {
        .subtitles-holder {
          height: 107px;
          font-size: 18px;
          padding: 8px 30px 42px;
        }
      }

      @media only screen and (max-width: 600px) {
        .subtitles-holder {
          height: 106px;
          font-size: 16px;
          padding: 10px 12px 42px;
        }
      }

      @media only screen and (max-width: 500px) {
        .subtitles-holder {
          height: 92px;
          font-size: 14px;
          padding: 8px 10px 40px;
        }
      }

      @media only screen and (max-width: 470px) {
        #video-controls__time {
          display: none;
        }
      }

      @media only screen and (max-width: 400px) {
        .subtitles-holder {
          height: 82px;
          font-size: 12px;
          padding: 8px 20px 40px;
        }
      }

      @media only screen and (max-width: 300px) {
        .subtitles-holder {
          height: 80px;
          font-size: 10px;
          padding: 8px 20px 40px;
        }
      }

      #video-controls {
        position: absolute;
        bottom: 0;
        background: var(--ev-track-controls-background-color, #fafafa);
        display: block; /* set to display none initially and after dev */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 100%;
        min-width: var(--ev-track-controls-min-width, 300px);
        padding-top: 4px;
        z-index: 2;
      }

      .disabled {
        opacity: 0.4;
        pointer-events: none;
      }

      .video-controls-2 {
        width: 100%;
        height: 50px;
        outline: none;
      }

      .track {
        height: 100%;
        position: relative;
        margin-right: 7px;
        margin-left: 7px;
        outline: none;
      }

      .track-click {
        background: transparent;
        height: 100%;
        width: 100%;
        outline: none;
      }

      #vol-track-click {
        width: 100px;
      }

      .timeline {
        width: 100%;
      }

      .track-bar {
        background: var(--ev-track-fill-color, #5a5a5a);
        height: 2px;
        pointer-events: none;
        top: calc(50% - 1px);
        width: 100%;
        position: absolute;
      }

      .track-fill {
        background: var(--ev-track-progress-color, var(--ev-cornflower-500));
        height: 2px;
        pointer-events: none;
        position: absolute;
        top: calc(50% - 1px);
        width: 0px;
      }

      .track-pointer {
        position: absolute;
        top: calc(50% - 12px);
        height: 24px;
        width: 24px;
        padding: 6px;
        cursor: pointer;
        outline: none;
        margin-left: -12px;
        box-sizing: border-box;
      }

      .background {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
      }

      .track-pointer span {
        background: var(--ev-track-pointer-color, var(--ev-cornflower-500));
        border-radius: 50%;
        display: block;
        height: 12px;
        position: absolute;
        width: 12px;
      }

      .main-video {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .responsive-image {
        height: 100%;
        width: 100%;
        opacity: 0;
      }

      svg {
        position: relative;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
      .current-time {
        width: 50px;
        height: 50px;
      }
    </style>
      <div class="current-time">
        [[currentTime]]
      </div>
    <div id="video_container" class="player">
      <img class="responsive-image" id="initial-image" src="{{_initialImageSrc}}" />
      <div id="svg-wrapper" class="svg-container">
        <div class="main-video">
          <img class="background"></img>
          <div class="subtitles-holder">
            <div class="subtitles-text"></div>
          </div>
        </div>
      </div>
      <div id="video-controls" class="disabled">
        <div class="video-controls-2">
          <div id="video-controls__track" class="track">
            <div class="track-click timeline" id="track-click" on-click="_handleTimelineClick"></div>
            <div class="track-bar"></div>
            <div class="track-fill" id="track-fill"></div>
            <div id="track-lug" class="track-pointer" on-down="_handlePointerPress" on-up="_handlePointerRelease" on-track="_handleTrack">
              <span></span>
            </div>
          </div>
        </div>
    </div>
  </template>
  <script>
/**
`ev-personalised-video-dev`.
@customElement
@polymer
@appliesMixin EvVideoBehavior
@appliesMixin EvWidgetBehavior
@appliesMixin Polymer.GestureEventListeners
@demo demo/dev.html
*/
    class EvPersonalisedVideoDev extends EvWidgetBehavior(EvVideoBehavior(Polymer.GestureEventListeners(Polymer.Element))) {
      static get is() { return 'ev-personalised-video-dev'; }
      static get properties() {
        return {
          ready: {
            type: Boolean,
            computed: '_isReady(resourcesLoaded)'
          },
          controlsAlwaysOn: {
            type: Boolean,
            value: false
          },
          userInputs: Object,
          apiResults: Object,
          currentTime: {
            type: Number,
            value: 0
          }
        };
      }

      constructor() {
        super();
        this.video;
        this.sHeights = [
          [1280, 132],
          [1200, 127],
          [1100, 122],
          [1000, 114],
          [900, 110],
          [800, 108],
          [700, 107],
          [600, 106],
          [500, 92],
          [400, 82],
          [300, 80]
        ];
      }

      ready() {
        super.ready();
        this.$['video_container'].addEventListener('mouseover', this._onHover.bind(this));
        this.$['video_container'].addEventListener('focusin', this._onHover.bind(this));
        this.$['video_container'].addEventListener('mouseleave', this._onLoseHover.bind(this));
        this.$['video_container'].addEventListener('focusout', this._onLoseHover.bind(this));
        fetchHLResources(this);
        // fetchBFResources(this);
        // fetchHWResources(this);
      }

      /**
       * @private
       */
      _isReady(resourcesLoaded) {
        if (resourcesLoaded) {
          this._handleResponse();
          this._initPlayer();
        }
      }

      _handleResponse() {
        if (this.apiResults) {
          const textToSpeechStrings = this.apiResults.textToSpeech.audios;
          const texts = this.apiResults.textResult.texts;
          textToSpeechStrings.forEach(textToSpeechAudioString => {
            this.audios.push({
              type: 'text-to-speech',
              base64String: textToSpeechAudioString
            });
          });
          texts.forEach((text) => {
            this.captions.push(text);
          });
        }
      }

      /**
       * Initialise the personalised video player
       * preparing the timeline, video and audio files
       * @private
       */
      _initPlayer() {
        this._initVideo(this._useStaticSpeechFiles);
        this.video.onUpdate(() => {
          this.currentTime = this.video.tlMain.progress() * this.video.vidDuration;
          this._updateTimeline(this.video.tlMain.progress());
          this._updateSubtitles('.subtitles-text');
          if (this.playing && !this.dragging) {
            this._playAudios();
          }
          this.video.updateVideoContent();
        });
        this.video.onEnded(() => {
          this.playing = false;
          this.ended = true;
        });
        this._loadAudios();
      }

      /**
       * @private
       * Toggles the playing status of the video
       */
      _togglePlay() {
        let eventLabel;
        this.playing = !this.playing;
        if (!this.video.built) {
          this.$['video-controls'].classList.remove('disabled');
          this.video.buildTimeLine();
        }
        if (this.playing) {
          if (this.ended) {
            this._replayVideo();
          }  else {
            // play/resume
            this._playTimeline();
          }
        } else {
          // pause
          this.playing = false;
          this._pauseTimeline();
          clearTimeout(this.tpTimeout);
          this.pauseAllAudios();
        }
      }

      /**
       * @private
       * Toggles the mute status of the video
       */
      _toggleMute() {
        this.muted = !this.muted;
        if (this.muted) {
          this.volume = 0;
        } else {
          this.volume = this._prevVolume;
        }
      }

      /**
       * Toggle the animations to show and hide the video controls
       * @private
       * @param {Number} transitionSpeed requested animation speed
       */
       _toggleControls(transitionSpeed = 0.35) {
        if (this.showControls) {
          TweenMax.killTweensOf(this.$['video-controls']);
          TweenMax.to(this.$['video-controls'], transitionSpeed, {opacity: 1, y: 0});
        } else {
          TweenMax.killTweensOf(this.$['video-controls']);
          TweenMax.to(this.$['video-controls'], transitionSpeed, {opacity: 0, y: 32, delay: 1});
        }
      }

      /**
       * True, if the click or touch event is within an object
       * @private
       * @param {object} event the touch event
       * @Boolean true or false
       */
       _isWithinElement(event, element) {
        let eventWithElement = false;

        let elementArea = element.getBoundingClientRect();
        const top = elementArea.top;
        const bottom = elementArea.bottom;
        const left = elementArea.left;
        const right = elementArea.right;

        // if the event is a touchstart, get the co-ords from event.touches[0]
        // otherwise clientX and clientY are undefined
        let x;
        let y;
        if (this._isTouchDevice || (event !== undefined && event.touches !== undefined && event.touches[0] !== undefined)) {
          // touch device
          x = event.touches[0].clientX;
          y = event.touches[0].clientY;
        } else {
          // desktop device
          x = event.clientX;
          y = event.clientY;
        }

        if ((y >= top && y <= bottom) && (x >= left && x <= right)) {
            eventWithElement = true;
        }

        return eventWithElement;
      }

      /**
       * Called when the video has focus
       * Show video controls
       * @private
       * @param {event} browser event
       */
       _onHover(event) {
        // taps send a mouseover events for iPads/iPhones, so we want to ignore those
        // only animate controls if controlsAlwaysOn is false
        if (!this.controlsAlwaysOn) {
          this.showControls = true;
          if (event.type !== 'focusin') {
            this._toggleControls();
          } else {
            this._toggleControls(0);
          }
        }
      }

      /**
       * Called when the video loses focus
       * Hide video controls
       * @private
       * @param {event} browser event
       */
       _onLoseHover(event) {
        const videoContainer = this.shadowRoot.querySelector('#video_container');
        const mouseOnContainer = this._isWithinElement(event, videoContainer);
        if (!mouseOnContainer) {
          if (!this.controlsAlwaysOn) {
            this.showControls = false;
            this._toggleControls();
          }
        }
      }

      /**
       * Generates the appropriate height for the subtitles
       * container
       * @private
       * @return {Number} height in pixels
       */
       _getSubtitleHeight() {
        let height = 132;
        const holder = this.shadowRoot.querySelector('.subtitles-holder');
        for (let h = 0; h < this.sHeights.length; h++){
          if (holder.offsetWidth <= this.sHeights[h][0]){
            height =  this.sHeights[h][1];
          }
        }
        return height;
      }

      /**
       * Toggles the subtitles of the video
       * @private
       */
       _toggleSubtitles() {
        let holder = this.shadowRoot.querySelector('.subtitles-holder');
        let sceneGroup = this.video.sceneGroup;
        this.subtitles = !this.subtitles;
        if (this.subtitles) {
          holder.style.display = 'flex';
          let sh = this._getSubtitleHeight();
          TweenMax.set(holder, {scale: 1});
          TweenMax.to(holder, 0.2, { autoAlpha: 1, y: 0});
        } else {
          TweenMax.to(holder, 0.2, {autoAlpha: 0, y: holder.offsetHeight, onComplete: this._hideSubtitles.bind(this)});
        }
        this._toggleScene(this.subtitles);
      }

      /**
       * @private
       * Hides the subtitles
       */
      _hideSubtitles() {
        let holder = this.shadowRoot.querySelector('.subtitles-holder');
        holder.style.display = 'none';
      }

      /**
       * Handles changes to the volume set on the player
       * @private
       * @param {Number} newVolume new volume set on the player
       * @param {Number} oldVoume previous volume set on the player
       */
      _volumeChanged(newVolume, oldVolume) {
        // save old volume for unmute
        this._prevVolume = oldVolume;
        if (newVolume === 0) {
          this.muted = true;
        } else {
          this.muted = false;
        }
        // call volume change on video
        if (this.audios) {
          this.updateVolume(newVolume);
        }
      }

      /**
      * Updates the timeline progression when player has resized
      * @private
      * @param {Number} progress current progress of the timeline
      */
      _updateTimeline(progress) {
        let offsetWidth = this.$['track-click'].offsetWidth;
        this.$['track-lug'].style.left = (progress * offsetWidth) + 'px';
        this.$['track-fill'].style.width = (progress * offsetWidth) + 'px';
      }

      /**
       * Handles the click event on the time line and adjusts the volume or
       * video position accordingly
       * @private
       * @param {object} event the mouse event fired when the user clicks on
       * the timeline
       */
       _handleTimelineClick(event) {
        const element = event.currentTarget;
        const clickPos = event.offsetX / element.offsetWidth;
        if (element.id === 'vol-track-click') {
          // volume slider
          this.volume = clickPos;
        } else {
          // main timeline
          this.pauseAllAudios();
          this._elapsedChanged(clickPos);
        }
      }

      _handlePointerPress() {
        this.pauseAllAudios();
        this.video.tlMain.pause();
      }

      _handlePointerRelease() {
        if (this.playing) {
          this._playTimeline();
        }
      }

      /**
       * Handles the dragging of the lug on the time line.
       * @private
       * @param {object} event the touch event fired when the user drags the
       * lug on the time lime
       */
       _handleTrack(event) {
        clearTimeout(this.tpTimeout);
        switch (event.detail.state) {
          case 'start':
            if (event.currentTarget.id === 'track-lug') {
              this.dragging = true;
            }
            this._startLeft = parseInt(event.currentTarget.style.left) || 0
            break;
          case 'track':
            let dLeft = this._startLeft + event.detail.dx;
            if (dLeft < 0) {
              dLeft = 0;
            }

            const trackWidth = event.currentTarget.previousElementSibling.previousElementSibling.offsetWidth;
            if (dLeft > trackWidth) {
              dLeft = trackWidth;
            }

            const value = dLeft / trackWidth;
            if (event.currentTarget.id === 'track-lug') {
              this.elapsed = value;
            } else {
              this.volume = value;
            }

            break;
          case 'end':
            if (event.currentTarget.id === 'track-lug') {
              this.dragging = false;
            }

            break;
        }
      }

      /**
     * Initialize static speech text to audio files
     * from the Video Object
     * @private
     */
     _useStaticSpeechFiles() {
      const staticVideoTexts = this.video.texts;
      if (staticVideoTexts) {
        let methodData = {
          gender: 'FEMALE',
          speakingRate: 1.0,
          pitch: 0,
          languageCode: 'en-GB',
          voiceName: 'en-GB-Wavenet-A'
        };

        methodData.texts = [];

        for (var t = 0; t < staticVideoTexts.length; t++) {
          methodData.texts.push(staticVideoTexts[t].value);
        }

        this.headers['Content-Type'] = 'application/json';

        fetch('https://api.evalueproduction.com/textToSpeech/1.0.0/textToSpeech/convertText', {
            method: 'POST',
            headers: this.headers,
            body: JSON.stringify(methodData)
          }).then((response) => {
            return response.json();
          }).then((data) => {
            if (this._checkForError(data)) {
              console.log('Error in data');
            } else {
              let textsInfo = this.video.texts;
              for (let t = 0; t < textsInfo.length; t++) {
                let audioObj = {
                  id: textsInfo[t].id,
                  type: 'text-to-speech',
                  startAt: textsInfo[t].startAt,
                  base64String: data.audios[t]
                }
                this.audios.push(audioObj);
              }
              this._loadAudios();
              let finalTexts = textsInfo.map(textObj => {
                return textObj.value;
              });
              this.captions = finalTexts;
              this._initSpeech();
            }
          }).catch((error) => {
            console.log('tts Exception');
          });
        }
      }

      /**
       * Used to identify any errors from calling the text-to-speech
       * API
       * @private
       * @param {Object} data data from text-to-speech call
       * @return {Boolean} error exists in text-to-speech data
       */
      _checkForError(data) {
        let isError = false;
        if (data.error || data.errors || data.systemError || data.error === '') {
          isError = true;
          if (data.apiResults) {
            console.error('error');
          }
        }
        return isError;
      }

    }
    window.customElements.define(EvPersonalisedVideoDev.is, EvPersonalisedVideoDev);
  </script>
</dom-module>
