<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/mixins/gesture-event-listeners.html">

<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../ev-widget-behavior/ev-widget-behavior.html">
<link rel="import" href="../ev-dialog/ev-dialog.html">
<link rel="import" href="../ev-icons/ev-icons.html">
<link rel="import" href="../ev-icons/media-icons.html">
<link rel="import" href="../ev-overlay/ev-overlay.html">
<link rel="import" href="../ev-spinner/ev-spinner-light.html">
<link rel="import" href="../ev-styles/colour.html">
<link rel="import" href="../ev-styles/typography.html">
<link rel="import" href="../ev-dialog/ev-error-dialog.html">
<link rel="import" href="../ev-slider/ev-slider.html">
<link rel="import" href="../ev-slider/ev-vertical-slider.html">
<link rel="import" href="../ev-ajax/ev-ajax.html">
<link rel="import" href="ev-video-behavior.html">
<link rel="import" href="tweenmax-import.html">

<dom-module id="ev-personalised-video">
  <template>
    <style>
      :host {
        display: inline-block;
        width: 100%;
        height: 100%;
        max-width: 1280px;
        max-height: 720px;
        @apply --ev-font-common-base;
      }

      #video__overlay_play_button {
        @apply --ev-video-large-play-button;
      }

      :host([is-touch-device]) #video-controls__mute {
        display: none;
      }

      :host([is-touch-device]) #video-controls__volume-track {
        display: none;
      }

      :host([is-touch-device]) #video-controls__fullscreen {
        display: none;
      }

      :host(:-webkit-full-screen) {
        display: flex !important;
      }

      :host(:-webkit-full-screen)  {
        display: flex !important;
      }

      :host(:-moz-full-screen) {
        display: flex !important;
      }

      :host(:-ms-fullscreen) {
        display: flex !important;
        max-height: 100%;
        max-width: 100%;
      }

      :focus,
      .user-is-tabbing ev-slider:focus {
        outline: 0;
        border-radius: initial;
        box-shadow: initial;
      }

      .user-is-tabbing :focus {
        border-radius: 50%;
        box-shadow: inset 0 0 24px 24px var(--ev-player-focus-color, #83b3fd);
      }

      .player {
        position: relative;
        width: 100%;
        height: 100%;
        min-width: var(--ev-player-min-width, 340px);
        min-height: 200px;
        max-height: 720px;
        overflow: hidden;
      }

      .player.fullscreen {
        min-width: 320px;
      }

      .main-video {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .svg-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: var(--ev-player-svg-container-min-height, 200px);
        text-align: center;
        user-select: none;
      }

      .background {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        display: none;
      }

      #video-controls {
        position: absolute;
        bottom: 0;
        background: var(--ev-track-controls-background-color, #fafafa);
        display: none; /* set to display none initially and after dev */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 100%;
        min-width: var(--ev-track-controls-min-width, 300px);
        padding-top: 4px;
        z-index: 2;
      }

      .svg-container, #video-controls {
        outline: none;
      }

      .video-lower-controls {
        width: 100%;
        display: inline-flex;
      }

      .video-controls__1 {
        display: flex;
        display: -webkit-flex;
        display: -ms-flex;
        flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        outline: none;
      }

      .video-controls__3 {
        display: flex;
        display: -webkit-flex;
        display: -ms-flex;
        outline: none;
      }

      .video-controls__button, .fullscreen-mode {
        cursor: pointer;
        height: 24px;
      }

      #video-controls__play, #video-controls__mute, #video-controls__subtitles, .fullscreen-mode {
        color: var(--ev-track-icons-color, black);
        flex-shrink: 0;
        -webkit-flex-shrink: 0;
        margin-top: 2px;
      }

      #video-controls__subtitles {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
      }

      #video-controls__time {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: auto;
        margin-bottom: auto;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: var(--ev-track-timer-color, black);
      }

      #video-controls__fullscreen {
        margin-top: 4px;
      }

      ev-slider {
        --ev-slider-knob-color: var(--ev-cornflower-500);
        --ev-slider-active-color: var(--ev-cornflower-500);
        --ev-slider-container-color: #5a5a5a;
      }

      ev-vertical-slider {
        --ev-slider-knob-color: var(--ev-cornflower-500);
        --ev-slider-active-color: var(--ev-cornflower-500);
        --ev-slider-container-color: #5a5a5a;
        --ev-slider-height: 100px;
      }

      #video-controls__volume-track {
        width: 132px;
        margin-right: 20px;
      }

      #video-controls__volume-vertical {
        position: absolute;

        bottom: 10px;
        left: 10px;
        height: 100px;
        display: none;
      }

      #video-controls__vertical-volume-wrapper {
        position: absolute;
        bottom: 22px;
        right: 33px;
        background: var(--ev-track-controls-background-color, #fafafa);
        height: 127px;
        width: 24px;
        outline: none;
        display: none;
      }

      .track {
        height: 32px;
        width: 100%;
        position: relative;
        margin-right: 7px;
        margin-left: 7px;
        outline: none;
      }

      .track-click {
        background: transparent;
        height: 32px;
        width: 100%;
        outline: none;
      }

      #vol-track-click {
        width: 100px;
      }

      .timeline {
        width: 100%;
      }

      .track-bar {
        background: var(--ev-track-fill-color, #5a5a5a);
        height: 2px;
        pointer-events: none;
        top: calc(50% - 1px);
        width: 100%;
        position: absolute;
      }

      .track-fill {
        background: var(--ev-track-progress-color, var(--ev-cornflower-500));
        height: 2px;
        pointer-events: none;
        position: absolute;
        top: calc(50% - 1px);
        width: 0px;
      }

      .track-pointer {
        position: absolute;
        top: calc(50% - 12px);
        height: 24px;
        width: 24px;
        padding: 6px;
        cursor: pointer;
        outline: none;
        margin-left: -12px;
        box-sizing: border-box;
      }

      .track-pointer span {
        background: var(--ev-track-pointer-color, var(--ev-cornflower-500));
        border-radius: 50%;
        display: block;
        height: 12px;
        position: absolute;
        width: 12px;
        outline: none;
      }

      #video-controls__mute {
        margin-top: 4px;
      }

      .fullscreen-mode {
        margin-left: 10px;
      }

      .responsive-image {
        height: 100%;
        width: 100%;
      }

      .large-btn {
        position: absolute;
        background-color: var(--ev-large-play-button-background-color,var(--ev-cornflower-500));
        z-index: 20;
      }

      .large-btn:hover {
        background-color: var(--ev-large-button-hover-color, var(--ev-cornflower-700));
        cursor: pointer;
      }

      #video__overlay_initialize_group {
        min-width: 500px;
        min-height: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--ev-icon-fill);
        position: absolute;
        z-index: 20;
      }

      #video__overlay_initialize_group > p {
        margin: 0;
        top: calc(50% + 50px);
        position: absolute;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        width: 100%;
        z-index: 20;
      }

      #video__overlay_initialize_group ::slotted(*) {
        top: calc(50% + 100px);
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 20;
      }

      #video__overlay_play_button {
        display: none;
        height: var(--ev-large-play-button-height, 80px);
        width: var(--ev-large-play-button-width, 120px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        border-radius: var(--ev-large-play-button-border-radius, 3px);
      }

      #video__overlay_initialize_button {
        position: absolute;
        text-align: center;
        height: var(--ev-initialize-button-width, 74px);
        width: var(--ev-initialize-button-height, 148px);
        border-radius: var(--ev-initialize-button-border-radius, 3px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      #video__overlay_initialize_button * {
        display: block;
        outline: none;
      }

      #video__overlay_initialize_button iron-icon {
        width: 50px;
        height: 50px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        @apply --ev-initialize-button-icon;
      }

      .large-play-icon {
        position: relative;
        height: 48px;
        width: 48px;
        top: calc(50% - 24px);
        left: calc(50% - 24px);
        color: var(--ev-icon-fill);
        pointer-events: none;
      }

      ev-spinner-light {
        position: absolute;
        top: calc(50% - 77px);
        left: calc(50% - 70px);
        z-index: 30;
        outline: none;
      }

      svg {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      #video_error_api {
        position: absolute;
        top: calc(50% - 130px);
        left: calc(50% - 310px);
        --ev-icon-color: var(--ev-tomato-500);
        height: 260px;
      }

      .unsupported {
        position: absolute;
        width: 50%;
        height: 30%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
        background-color: var(--ev-unsupported-msg-background-color, var(--ev-icon-fill));
        padding: 10px;
        box-sizing: border-box;
        opacity: 0;
        z-index: 3;
        display: none;
      }

      .unsupported-icon {
        width: 20%;
        height: 100%;
        border-right: 2px solid var(--ev-unsupported-msg-icon-color, var(--ev-cornflower-500));
        box-sizing: border-box;
      }

      .unsupported-icon iron-icon {
        width: 100%;
        height: 100%;
        color: var(--ev-unsupported-msg-icon-color, var(--ev-cornflower-500));
      }

      .unsupported-message {
        width: 80%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
      }

      .unsupported-message h4 {
        color: var(--ev-unsupported-msg-heading-color, var(--ev-cornflower-500));
        font-size: 1.4em;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .unsupported-message p {
        position: relative;
        top: 30%;
        font-size: 16px;
      }

      .unsupported * {
        outline: none;
      }

      .subtitles-holder {
        position: absolute;
        width: 100%;
        height: 132px;
        background: rgba(0, 0, 0, 0.6);
        text-align: center;
        opacity: 0;
        padding: 10px 50px 42px;
        font-size: 28px;
        display: flex;
        box-sizing: border-box;
        pointer-events: none;
        bottom: 0;
      }

      .subtitles-text {
        color: white;
        margin: auto;
      }

      @media only screen and (max-width: 1200px) {
        .subtitles-holder {
          height: 127px;
          font-size: 26px;
          padding: 10px 50px 42px;
        }
      }

      @media only screen and (max-width: 1100px) {
        .subtitles-holder {
          height: 122px;
          font-size: 24px;
          padding: 10px 50px 42px;
        }
      }

      @media only screen and (max-width: 1000px) {
        .subtitles-holder {
          height: 114px;
          font-size: 22px;
          padding: 8px 45px 42px;
        }
      }

      @media only screen and (max-width: 900px) {
        .subtitles-holder {
          height: 110px;
          font-size: 21px;
          padding: 8px 40px 42px;
        }
      }

      @media only screen and (max-width: 800px) {
        .subtitles-holder {
          height: 108px;
          font-size: 20px;
          padding: 8px 35px 42px;
        }
      }

      @media only screen and (max-width: 750px) {
        #video_error_api {
          width: 500px;
          left: calc(50% - 250px);
        }
      }

      @media only screen and (max-width: 700px) {
        .subtitles-holder {
          height: 107px;
          font-size: 18px;
          padding: 8px 30px 42px;
        }
      }

      @media only screen and (max-width: 600px) {
        .subtitles-holder {
          height: 106px;
          font-size: 16px;
          padding: 10px 12px 42px;
        }
        #video_error_api {
          width: 450px;
          left: calc(50% - 225px);
        }
      }

      @media only screen and (max-width: 500px) {
        .subtitles-holder {
          height: 92px;
          font-size: 14px;
          padding: 8px 10px 40px;
        }
      }

      @media only screen and (max-width: 470px) {
        #video-controls__time {
          display: none;
        }
      }

      @media only screen and (max-width: 400px) {
        .subtitles-holder {
          height: 82px;
          font-size: 12px;
          padding: 8px 20px 40px;
        }
      }

      @media only screen and (max-width: 300px) {
        .subtitles-holder {
          height: 80px;
          font-size: 10px;
          padding: 8px 20px 40px;
        }
      }
      @media only screen and (max-width: 350px) {
        .responsive-image {
          display: none;
        }
      }
    </style>

    <ev-ajax
      id="ajaxRequest"
      proxy="{{proxy}}"
      authentication-token="{{authenticationToken}}"
      resource="facade/1.0.0/facade/process"
      on-success="_handleResponse"
      on-api-error="_handleError">
    </ev-ajax>

    <div id="video_container" class="player">
      <img class="responsive-image" id="initial-image" src="{{_initialImageSrc}}" />
      <ev-error-dialog hide-okay-btn modal
        id="video_error_api">
        <h2>Something has gone wrong!</h2>
        Sorry that you've experienced this error. We're working on a solution right
        now. Please Try Again
      </ev-error-dialog>
      <div id="svg-wrapper" class="svg-container">
        <div class="main-video">
          <img id="video__background_image" class="background"></img>
          <div class="subtitles-holder">
            <div id="subtitles" class="subtitles-text"></div>
          </div>
        </div>
      </div>
      <div id="video-controls">
        <div class="video-lower-controls">
          <div class="video-controls__1">
            <div id="video-controls__play" class="video-controls__button" aria-label="Play/Pause" role="button" tabindex="0" on-click="_togglePlay" on-keydown="_handleKeyPress">
              <template is="dom-if" if="[[playing]]">
                <iron-icon id="play_icon" icon="[[_computeMediaIcon('play_icon', config.icons.playIcon, 'ev-media:pause')]]"></iron-icon>
              </template>
              <template is="dom-if" if="[[_computePlayArrowIcon(playing, ended)]]">
                <iron-icon id="pause_icon" icon="[[_computeMediaIcon('pause_icon', config.icons.pauseIcon, 'ev-media:play-arrow')]]"></iron-icon>
              </template>
              <template is="dom-if" if=[[ended]]>
                <iron-icon id="replay_icon" icon="[[_computeMediaIcon('replay_icon', config.icons.replayIcon, 'ev-media:replay')]]"></iron-icon>
              </template>
            </div>
            <div id="video-controls__time" tabindex="-1">
              <span id="time-elapsed" tabindex="-1">0:00</span>&nbsp;/&nbsp;<span id="total-duration" tabindex="-1">0:00</span>
            </div>
            <div id="video-controls__track" class="track">
              <div class="track-click timeline" id="track-click" on-click="_handleTimelineClick"></div>
              <div class="track-bar"></div>
              <div class="track-fill" id="track-fill"></div>
              <div id="track-lug" class="track-pointer" on-up="_handlePointerRelease" on-down="_handlePointerPress" on-track="_handleTrack">
                <span></span>
              </div>
            </div>
          </div>
          <div class="video-controls__3">
            <div id="video-controls__subtitles" class="video-controls__button" aria-label="Toggle subtitles" role="button" tabindex="0" on-click="_toggleSubtitles" on-keydown="_handleKeyPress">
              <template is="dom-if" if="[[subtitles]]">
                <iron-icon id="subtitle_icon" icon="[[_computeMediaIcon('subtitle_icon', config.icons.subtitleIcon, 'ev-media:subtitles')]]"></iron-icon>
              </template>
              <template is="dom-if" if="[[!subtitles]]">
                <iron-icon id="subtitle_off_icon" icon="[[_computeMediaIcon('subtitle_off_icon', config.icons.subtitleOffIcon, 'ev-media:subtitles-off')]]"></iron-icon>
              </template>
            </div>
            <div id="video-controls__mute" class="video-controls__button" aria-label="Toggle mute" role="button" tabindex="0" on-click="_toggleMute" on-keydown="_handleKeyPress">
              <template is="dom-if" if="[[muted]]">
                <iron-icon id="volume_off_icon" icon="[[_computeMediaIcon('volume_off_icon', config.icons.mutedIcon, 'ev-media:volume-off')]]"></iron-icon>
              </template>
              <template is="dom-if" if="[[!muted]]">
                <iron-icon id="volume_up_icon" icon="[[_computeMediaIcon('volume_up_icon', config.icons.volumeIcon, 'ev-media:volume-up')]]"></iron-icon>
              </template>
            </div>
            <ev-slider id="video-controls__volume-track" step="1" min="0" max="100" value="75" no-ripple></ev-slider>
            <div id="video-controls__vertical-volume-wrapper">
              <ev-vertical-slider id="video-controls__volume-vertical" step="1" min="0" max="100" value="75" no-ripple></ev-vertical-slider>
            </div>
            <template is="dom-if" if="[[!isIPhoneDevice]]">
              <div id="video-controls__fullscreen" class="fullscreen-mode" aria-label="Toggle fullscreen" role="button" tabindex="0" on-click="_toggleFullScreen" on-keydown="_handleKeyPress">
                <template is="dom-if" if="[[!fullScreen]]">
                  <iron-icon id="fullscreen_icon" icon="[[_computeMediaIcon('fullscreen_icon', config.icons.fullscreenIcon, 'ev-media:fullscreen')]]"></iron-icon>
                </template>
                <template is="dom-if" if="[[fullScreen]]">
                  <iron-icon id="fullscreen_off_icon" icon="[[_computeMediaIcon('fullscreen_off_icon', config.icons.fullscreenOffIcon, 'ev-media:fullscreen-exit')]]"></iron-icon>
                </template>
              </div>
            </template>
          </div>
        </div>
      </div>
      <div id="video__overlay_play_button" class="large-btn" role="button" tabindex="0" on-click="_handleInitialPlay">
        <iron-icon id="video-controls__initial_play" class="large-play-icon" icon="[[_computeMediaIcon('video-controls__initial_play', config.icons.largePlayIcon, 'ev-icons-extra-large:large-play-arrow')]]"></iron-icon>
      </div>
      <div id="video__overlay_initialize_group">
        <div id="video__overlay_initialize_button" class="large-btn" role="button" tabindex="0" on-click="_generateRequest">
          <iron-icon id="initialize_icon" icon="[[_computeMediaIcon('initialize_icon', config.icons.initializeIcon, 'ev-icons-large:initialize')]]"></iron-icon>
        </div>
        <slot on-slotchange="_handleInitalizeText" name="initialization-text"></slot>
        <p id="intialize_text">(this may take a minute or two)</p>
      </div>
      <ev-spinner-light id="video__spinner"></ev-spinner-light>
      <div id="player__unsupported" class="unsupported">
        <div class="unsupported-icon">
          <iron-icon icon="ev-icons:exclamation"></iron-icon>
        </div>
        <div class="unsupported-message">
          <h4>Device unsupported</h4>
          <p>
            This page uses cutting edge technology that is not available in this web browser. Please visit this page in another browser or on a different device.
          </p>
        </div>
      </div>
      <ev-overlay id="video__overlay"></ev-overlay>
    </div>
  </template>
  <script>
/**
`ev-personalised-video` is EValue's personalised video player.

In order to initialise (clicking on the initialize button) the personalised video, you must set specific properties
to retrieve the necessary resources. These are required for the video (audio, speech and SVG animations)
to play successfully. The following properties can be set dynamically via Javascript or HTML:

- `videoName` (name of the video)
- `userInputs` (additonal parameters needed for the API call)

Important: You must set the property `userInputs` **before** initializing the video.

Example:

    <ev-personalised-video video-name="balloon-flight" id="video">
    </ev-personalised-video>
    <script>
      document.getElementById('video').userInputs = {
        user: {
          dateOfBirth: '1970-01-01',
          gender: 'MALE',
          stateBenefit: {
          include: true,
          amount: 8575
        },
        .....
      };
    .....

Once the API call is successfull, the video player will display a large play button indicating,
that the video is ready to played.

The video player accomodates keyboard shortcuts to handle common playback options:
- `Space` Key (play/pause the video)
- `F` Key (Enter/Exit fullscreen mode)
- `M` Key (Mute/Unmute audio)

Fullscreen capabailties extend to all major dekstop browsers, however **not** across mobile
browsers such as Safari in iOS. Furthermore, embedding the video player using an <iframe>
is **not** compatible with the fullscreen mode.

### Styling

The following custom CSS variables are also available for custom styling:

Custom property | Description | Default
------------------------------------------|-------------------------------------------------------------|----------------------
`--ev-player-focus-color`                 | Color for the highlight when track controls are focussed    | `#83b3fd`
`--ev-player-min-width`                   | Minimum width of the video player                           | `340px`
`--ev-player-track-controls-min-width`    | Minimum width of the track controls                         | `300px`
`--ev-player-svg-container-min-height`    | Minimum height of the svg animation container               | `720px`
`--ev-track-bar-container-height`         | Height of the track bar container                           | `20px`
`--ev-track-controls-background-color`    | Background color for the video controls                     | `#fafafa`
`--ev-track-icons-color`                  | Color for the svg track control icons                       | `black`
`--ev-track-fill-color`                   | Color for the track bar                                     | `#5a5a5a`
`--ev-track-pointer-color`                | Color for the circular pointer on the track bar             | `--ev-cornflower-500`
`--ev-track-progress-color`               | Color for the progress made on the track bar                | `--ev-cornflower-500`
`--ev-large-play-button-background-color` | Background color of the large play button                   | `--ev-cornflower-500`
`--ev-large-play-button-hover-color`      | Background color of the large play button on hover          | `--ev-cornflower-700`
`--ev-large-play-button-width`            | Width of the large play button                              | `120px`
`--ev-large-play-button-height`           | Height radius of the large play button                      | `80px`
`--ev-large-play-button-border-radius`    | Border radius of the large play button                      | `3px`
`--ev-video-large-play-button`            | CSS Mixin for styling the large play button                 | ``
`--ev-unsupported-msg-background-color`   | Background color the unsupported device message             | `--ev-icon-fill`
`--ev-unsupported-msg-icon-color`         | Icon color of the unsupported device message                | `--ev-cornflower-500`
`--ev-unsupported-msg-heading-color`      | Text color of the heading of the unsupported device message | `--ev-cornflower-500`
`--ev-unsupported-msg-heading-color`      | Text color of the heading of the unsupported device message | `--ev-cornflower-500`
`--ev-spinner-outer-color`                | Outer color of the loading spinner                          | `#FFFFFF`
`--ev-spinner-inner-color`                | Inner color of the loading spinner                          | `#9b46d6`
`--ev-spinner-logo-display`               | Display of the logo within the loading spinner              | `block`
`--ev-initialize-button-width`            | Width of the initialization button                          | `74px`
`--ev-initialize-button-height`           | Height of the initialization button                         | `148px`
`--ev-initialize-button-border-radius`    | Border radius of the initialization button                  | `3px`
`--ev-initialize-button-icon`             | CSS Mixin for styling the initialization icon               | ``

### Icons

Currently the video player uses default SVG Icons from EValue's Media Iconset, however you can override them to use
your own iconset.

Example:

    <link rel="import" href="../../iron-icons/iron-icons.html">
    ...
    <ev-personalised-video></ev-personalised-video>
    ...
    <script>
    const videoElement = document.getElementById('video');
    videoElement.config = {
          icons: {
            largePlayIcon: 'search'
          }
    }
    .....

Below are all the names of the icons you can override

Icon Name        | Description            | Default
-----------------|------------------------|----------------------------------------
`largePlayIcon`  | Large play button icon | `ev-icons-extra-large:large-play-arrow`
`initializeIcon` | Initialization button icon | `ev-icons-large:initialize`
`playIcon`       | Play button icon       | `ev-media:play-arrow`
`pauseIcon`      | Pause button icon      | `ev-media:pause`
`replayIcon`     | Replay button icon     | `ev-media:replay`
`volumeIcon`     | Volume button icon     | `ev-media:volume-up`
`mutedIcon`      | Muted button icon      | `ev-media:volume-off`
`fullscreenIcon` | Fullscreen button icon | `ev-media:fullscreen`
`fullscreenOffIcon` | Fullscreen off button icon | `ev-media:fullscreen-exit`
`subtitleIcon`   | Subtitle button icon   | `ev-media:subtitles`
`subtitleOffIcon`   | Subtitle off button icon   | `ev-media:subtitles-off`

@customElement
@polymer
@appliesMixin EvWidgetBehavior
@appliesMixin EvVideoBehavior
@appliesMixin Polymer.GestureEventListeners
@demo demo/index.html
*/
    class EvPersonalisedVideo extends EvWidgetBehavior(EvVideoBehavior(Polymer.GestureEventListeners(Polymer.Element))) {
      static get is() { return 'ev-personalised-video'; }
      static get properties() {
        return {
          /** Parameters needed to make the API call */
          userInputs: Object,
          authenticationToken: {
            type: String,
            observer: '_tokenChanged'
          },
          apiResults: {
            type: Object,
            readOnly: true
          },
          /** Flag to indicate whether the video controls dissappear when you hover outside the player */
          controlsAlwaysOn: {
            type: Boolean,
            value: false
          },
          /** Name of the video */
          videoName: String,
          /** Proxy service endpoint */
          proxy: String,
          /** After initializing, the video wil commence automatically */
          autoPlay: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          }
        };
      }

      constructor() {
        super();
        this.video;
        this._SHOW_VERTICAL_VOLUME = 400;
        this.labelCounter = 0;
        this.config = {};
        this.sHeights = [
          [1280, 132],
          [1200, 127],
          [1100, 122],
          [1000, 114],
          [900, 110],
          [800, 108],
          [700, 107],
          [600, 106],
          [500, 92],
          [400, 82],
          [300, 80]
        ];
        this.controls = [
          'video-controls__play',
          'track-lug',
          'video-controls__subtitles',
          'video-controls__mute',
          'video-controls__volume-track',
          'video-controls__fullscreen'
        ];
        this.loadingLabels = [
          'Calculating APIs',
          'Calculating forecasts',
          'Generating visual content',
          'Generating Video',
          `Compiling Video`,
          'Finalising'
        ];
      }

      ready() {
        super.ready();
        this.tabHandle = this._handleFirstTab.bind(this);
        this.mouseHandle = this._handleMouseDownOnce.bind(this);
        this.addEventListener('fullscreenchange', this._handleFullscreenChange); // edge
        this.addEventListener('webkitfullscreenchange', this._handleFullscreenChange); // safari/chrome
        document.addEventListener('mozfullscreenchange', this._handleFullscreenChange); // firefox (listener needs to be on the document level)
        document.body.addEventListener('keypress', this._handleShortcutKeys.bind(this)); // register keys press on document level for video player controls
        this.$['video__overlay'].active = true;
        this.$['video-controls__volume-track'].addEventListener('click', this._volumeClick.bind(this));
        this.$['video-controls__volume-track'].addEventListener('value-change',   this._volumeSliderChanged.bind(this));
        this.$['video-controls__volume-vertical'].addEventListener('value-change', this._volumeSliderChanged.bind(this));
        this.$['video-controls__volume-track'].addEventListener('dragging',   this._volumeSliderChanged.bind(this));
        this.$['video-controls__volume-vertical'].addEventListener('dragging', this._volumeSliderChanged.bind(this));
        this.addEventListener('touchstart', this._touchEvent.bind(this));
        this._isTouchDevice = false;
      }

      /** @private */
      static get _JAVASCRIPT() { return 'js'; }

      /** @private */
      static get _CSS() { return 'css'; }

      /** @private */
      static get _FONT() { return 'font'; }

      /** @private */
      static get _SVG_GRAPHIC() { return 'svg'; }

      /** @private */
      static get _HTML() { return 'html'; }

      /** @private */
      static get _PNG() { return 'png'; }

      /** @private */
      static get _MP3_AUDIO() { return 'mp3'; }

      /** @private */
      static get _ENTER_KEY() { return 13; }

      /** @private */
      static get _SPACE_KEY() { return 32; }

      /** @private */
      static get _DOWN_ARROW() { return 70; }

      /** @private */
      static get _F_KEY() { return 102; }

      /** @private */
      static get _F4_KEY() { return 77; }

      /** @private */
      static get _M_KEY() { return 109; }

      /**
       * Set up window listeners to close the dialog on a click outside it
       */
      connectedCallback() {
        super.connectedCallback();
        window.addEventListener('resize', this._updatePlayerStyling.bind(this));
        window.addEventListener('beforeunload', () => {
          this._recordInteraction('CLOSE', 'Closing video player');
        });
      }

      /**
       * Remove window listeners
       */
      disconnectedCallback() {
        super.disconnectedCallback();
        window.removeEventListener('resize', this._updatePlayerStyling.bind(this));
        window.removeEventListener('beforeunload', () => {
          this._recordInteraction('CLOSE', 'Closing video player');
        });
      }

      _tokenChanged(newToken, oldToken) {
        if (oldToken !== newToken) {
          this.$['ajaxRequest']._configureIronAjax();
        }
      }

      _elapsedChanged(elapsedTime) {
        let currentTime = elapsedTime * this._totalDuration();
        super._elapsedChanged(elapsedTime);
        this._recordInteraction('ELAPSEDTIMETO', "Video elapsed time changes to: " + currentTime);
      }

      /**
      * Create a custom event for the video player
      * @param {String} eventName name of the custom event
      * @param {Object} eventDetails event details
      * @private
      */
      _createEvent(eventName, eventDetails) {
        const event = new CustomEvent(eventName, eventDetails);
        this.dispatchEvent(event);
      }

      /**
      * Creates a custom event for when the video has successfully loaded
      * @param {Boolean} isResourcesLoaded flag indicating all video
      * resources have successfully loaded into the player
      * @private
      */
      _createLoadEvent() {
        this._createEvent('player-loaded', {detail: {bubbles: true, composed: true}});
      }

      /**
      * Creates a custom event for when loading resulted in a API error
      * @param {String} errorMsg error message
      * @private
      */
      _createErrorEvent(errorMsg) {
        this._createEvent('player-error', {detail: {bubbles: true, composed: true, message: errorMsg}});
      }

      /**
       *  @private
       */
      _recordInteraction(action, details) {
        if (this.userInputs.uniqueId) {
          let params = {
            company: this.userInputs.company,
            uniqueId: this.userInputs.uniqueId,
            action: action,
            timestamp: Date.now()
          }

          if (details) {
            params.details = details;
          }

          let http = new XMLHttpRequest();
          http.open('POST', this.baseUrl + 'facade/1.0.0/facade/record');
          http.setRequestHeader('Content-Type', 'application/json');
          http.onerror = function() {
            console.error("Error recording interaction " + action + " " + http.responseText);
          }
          http.send(JSON.stringify(params));
        }
      }

      /**
       * Load the relevant video resources based on the `userInputs` provided.
       */
      initialize() {
        this._generateRequest();
      }

      /**
       * Initialise the personalised video player
       * preparing the timeline, video and audio files
       * @private
       */
      _initPlayer() {
        this._initVideo();
        this._handleTabActivity();
        this.video.onUpdate(() => {
          this._updateTrack();
          this._updateVideoContent();
        });
        this.video.onEnded(() => {
          this.playing = false;
          this.ended = true;
          clearTimeout(this.tpTimeout);
          this._recordInteraction('FINISHED', 'Video finished');
        });
        this._loadAudios(() => {
          clearInterval(this.interval);
          this.$['video__spinner'].active = false;
          this.$['video__overlay_play_button'].style.display = 'block';
          TweenMax.to(this.$['video__overlay_play_button'], 0.25, { opacity: 1 });
          if (this.autoPlay) {
            this.$['video__overlay_play_button'].click();
          }
          this._createLoadEvent();
        });
      }

      /**
      * Hide volume controls
      * @private
      */
      _hideVolumeControls() {
        this.$['video-controls__mute'].style.display = 'none';
        this.$['video-controls__volume-track'].style.display = 'none';
      }

      /**
       * Display the relevant calculation label when the spinner
       * is visible
       * @private
       */
      _setCalculationLabel() {
        this.interval = setInterval(() => {
          if (this.labelCounter < this.loadingLabels.length) {
            this.$['video__spinner'].label = this.loadingLabels[this.labelCounter];
            this.labelCounter++;
          }
        }, 5000);
      }

      /**
       * Generate a request to obtain the necessary resources for a
       * desired video
       * @private
       */
      _generateRequest() {
        TweenMax.to(this.$['video__overlay_initialize_group'], 0.25, {
          opacity: 1,
          onComplete: function () {
            this.$['video__overlay_initialize_group'].style.display = 'none';
            this.$['video__spinner'].active = true;
            this.$['video__overlay'].active = true;
            this._setCalculationLabel();
            this._makeRequest();
          }.bind(this)
        });
      }

      /**
       * @private
       * Show the SVG container
       */
      _showContainerSVG() {
        this.$['video__overlay'].active = false;
        this.$['video-controls'].style.display = 'block';
        this.$['svg-wrapper'].style.display = 'block';
      }

      _showErrorDialog() {
        this.$['video__overlay_play_button'].style.display = 'none';
        this.$['video__spinner'].active = false;
        this.$['video__overlay'].active = false;
        this.$['video_error_api'].openDialog(event);
      }

      /**
       * @private
       * Hide the initial png
       */
      _loadPlayer() {
        this._initPlayer();
        this._recordInteraction('LOAD', 'Loading video successful');
        this.$['video-controls'].style.display = 'none';
        //set up the animations to show and hide the video controls on hover
        // the mouseover/mouseenter and mouseout/mouseleave events get called on iPads and iPhones when you tap
        if (!this._isTouchDevice) {
          this.$['video_container'].addEventListener('mouseover', this._onHover.bind(this));
          this.$['video_container'].addEventListener('focusin', this._onHover.bind(this));
          this.$['video_container'].addEventListener('mouseleave', this._onLoseHover.bind(this));
          this.$['video_container'].addEventListener('focusout', this._onLoseHover.bind(this));
          window.addEventListener('keydown', this.tabHandle);
        }
        this.$['video-controls__mute'].addEventListener('mouseenter', this._onHoverOverVolume.bind(this));
        this.$['video-controls__vertical-volume-wrapper'].addEventListener('mouseleave', this._onLoseHoverFromVolumeSlider.bind(this));

        this._updatePlayerStyling();
      }

      /**
       *  @private
       *  Adds the user-is-tabbing class to the video if a tab key is pressed
       */
      _handleFirstTab(e) {
        if (e.keyCode === 9) {
          this.$['video_container'].classList.add('user-is-tabbing');
          window.removeEventListener('keydown', this.tabHandle);
          window.addEventListener('mousedown', this.mouseHandle);
        }
      }

      /**
       * @private
       * Removes the user-is-tabbing class from the video if there is a mousedown anywhere
       */
      _handleMouseDownOnce() {
        this.$['video_container'].classList.remove('user-is-tabbing');
        window.removeEventListener('mousedown', this.mouseHandle);
        window.addEventListener('keydown', this.tabHandle);
      }

      /**
       * Builds the request and POSTs it
       * @private
       */
      _makeRequest() {
        if (this._isDeviceSupported()) {
          this._constructPostBody();
          this.$.ajaxRequest.generateRequest();
        } else {
          // show message
          this.$['video__spinner'].active = false;
          this.$['player__unsupported'].style.display = 'flex';
          TweenMax.to(this.$['player__unsupported'], 0.25, {
            opacity: 1
          });
        }
      }

      /**
       * Builds the body that is sent in the Ajax call.
       * @private
       */
      _constructPostBody() {
        const evAjax = this.$['ajaxRequest'];
        evAjax.request = {
          name: this.videoName
        };

        if (typeof this.userInputs === 'string') {
          this.request.data = this.userInputs;
        } else if (typeof this.userInputs === 'object') {
          evAjax.request.data = JSON.stringify(this.userInputs);
        }

        if (this.configReference) {
          evAjax.request.configReference = this.configReference;
        }
      }

      /**
       * Check if nested error messages exists from facade api call
       * @private
       * @param {Object} apiResults api response from api call
       * @return {Boolean} error(s) exist
       */
      _apiErrorsExist(apiResults) {
        let errorsFound = false;
        for (let key in apiResults) {
          if (typeof(apiResults[key]) === 'object' && apiResults[key] !== null) {
            const obj = apiResults[key];
            if (obj.errors && obj.errors.length > 0) {
              obj.errors.forEach(errorObj => {
                const field = errorObj.field;
                const errorMsg = errorObj.message;
                const value = errorObj.value;
                switch(errorObj.code) {
                  case 'REQUIRED':
                    const requiredMsg = 'The field ' + field + ' must be required';
                    console.error(requiredMsg);
                    break;
                  case 'INVALID':
                    const invalidMsg = 'The field ' + field + ' is invalid. ' + errorMsg + ' Value: ' + value;
                    console.error(invalidMsg);
                    break;
                  default:
                    break;
                }
              });
              errorsFound = true;
            }
          }
        }
        return errorsFound;
      }

      /**
       *
       * Handles whether or not to display the default
       * initialization button text depending on the
       * content of the slot
       * @private
       */
      _handleInitalizeText(event) {
        const slot = event.currentTarget;
        const initText = this.$['intialize_text'];
        const slottedElements = slot.assignedNodes();
        if (slottedElements.length >= 1) {
          initText.style.display = 'none';
        } else {
          initText.style.display = 'block';
        }
      }

      /**
       * Handles the successful response from the API and adds the resources to
       * the shadow root of the custom element.
       * @private
       */
      _handleResponse(response) {
        const apiResponse = response.detail.response;
        const apiResults = apiResponse.apiResults;
        const apiResources = apiResponse.resources;
        const errorsExists = this._apiErrorsExist(apiResults);
        this._setApiResults(apiResults);
        if (!errorsExists) {
          if (apiResults) {
            const textToSpeech = apiResults.textToSpeech;
            if (textToSpeech) {
              textToSpeech.audios.forEach(textToSpeechAudioString => {
                this.audios.push({
                  type: 'text-to-speech',
                  base64String: textToSpeechAudioString
                });
              });
              this.captions = this._cleanedTextResults(apiResults.textResult.texts);
            }
          }
          if (apiResources) {
            for (let i = 0; i < apiResources.length; i++) {
              this._handleResource(apiResources[i]);
            }
          }
          this._loadPlayer();
        } else {
          this._showErrorDialog();
        }
      }

      /**
       * Clean texts results which contain male and female flags
       * @param {Array} textResults text from api call
       * @return {Array} cleaned text
       */
      _cleanedTextResults(textResults) {
        let newTextResults = [];
        textResults.forEach(text => {
          let newText = text.replace(/female|male/, '').trim();
          newTextResults.push(newText);
        });
        return newTextResults;
      }

      /**
       * Handles all essential HTML resources needed for the
       * video player to play successfully
       * @private
       * @param {Object} resource the resource to handle
       **/
      _handleResource(resource) {
        const data = window.atob(resource.data);
        const name = resource.name;
        switch (resource.dataType) {
          case EvPersonalisedVideo._JAVASCRIPT:
            const element = document.createElement('script');
            let cleanedScriptData = this._base64DecodeUTF8(resource.data);
            element.innerHTML = cleanedScriptData;
            this.shadowRoot.appendChild(element);
            break;
          case EvPersonalisedVideo._CSS:
            const videoStyling = document.createElement('style');
            videoStyling.innerHTML = data;
            if (name.indexOf(EvPersonalisedVideo._FONT) !== -1) {
              document.head.appendChild(videoStyling);
            } else {
              this.shadowRoot.appendChild(videoStyling);
            }
            break;
          case EvPersonalisedVideo._SVG_GRAPHIC:
          case EvPersonalisedVideo._HTML:
            const subtitlesHolder = this.shadowRoot.querySelector('.subtitles-holder');
            let cleanedData = this._base64DecodeUTF8(resource.data);
            subtitlesHolder.insertAdjacentHTML('beforebegin', cleanedData);
            const isEdge = window.navigator.userAgent.indexOf('Edge') > -1
            if (isEdge) {
              this._edgeStyling();
            }
            break;
          case EvPersonalisedVideo._PNG:
            this.$['video__background_image'].style.display = 'block';
            this.$['video__background_image'].src = 'data:image/png;base64,' + window.btoa(data);
            break;
          case EvPersonalisedVideo._MP3_AUDIO:
            let encodedString = 'data:audio/mp3;base64,' + resource.data;
            this.audios.push({
              name: resource.name,
              base64String: encodedString,
              type: 'sound-effect'
            });
            break;
          default:
            break;
        }
      }

      /**
       * Decode base64 strings to UTF-8 encoding
       * @private
       * @param {String} data base64 string to decode
       * @return {String} decoded string with UTF-8 encoding
       */
      _base64DecodeUTF8(data) {
        return decodeURIComponent(window.atob(data).split('').map((c) => {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));
      }


      /**
       * Handles the error response from the API
       * @private
       */
       _handleError(event) {
        this._showErrorDialog(event);
        this._recordInteraction('ERROR', 'Error loading video ' + event.detail.error);
        this._createErrorEvent(event.detail.error);
        clearInterval(this.interval);
        console.error(event.detail.error);
      }

       /**
       * Styling for the Edge browser
       * @private
       */
      _edgeStyling() {
        let allSVGs = this.querySelectorAll('svg');
        this.$['video-controls'].style.zIndex = '2';
        this.$['video__overlay'].shadowRoot.querySelector('.overlay').style.zIndex = '3';
        this.$['video__overlay_play_button'].style.zIndex = '4';
        this.$['video_error_api'].style.zIndex = '4';
        allSVGs.forEach(svg => {
          if (svg.id !== 'characterBM') {
            svg.style.index = '1';
            svg.style.position = 'relative';
          }
        })
      }

      /**
      * Computes the icon name to all of the help icon elements.
      * If the name is a image, it must be either formatted in JPEG or PNG
      * @param {String} id - id of the iron icon element to override
      * @param {String} name - svg icon name or url to image file
      * @param {String} defaultName default name of icon if a custom name is not provided
      */
      _computeMediaIcon(id, name, defaultName) {
        id = id || undefined;
        let iconName = defaultName;
        if (name) {
          if ((name.includes('.png') || name.includes('.jpeg'))) {
            if (id) {
              const ironIcon = this.shadowRoot.querySelector(`#${id}`);
              ironIcon.src = name;
            }
            iconName = undefined;
          }
          else {
            iconName = name;
          }
        }
        return iconName;
      }

      /**
       * Handling a space/enter keypress on  the video controls
       * @private
       */
      _handleKeyPress(event) {
        if (event.keyCode === EvPersonalisedVideo._ENTER_KEY) {
          event.currentTarget.click();
        }
      }

      /**
       * Handling key presses to perform specific video controls
       * @private
       */
      _handleShortcutKeys(event) {
        if (this.video) {
          switch (event.keyCode) {
            case EvPersonalisedVideo._ENTER_KEY:
              break;
            case EvPersonalisedVideo._SPACE_KEY:
              // if large play button is visible then click that instead..
              if (this.$['video__overlay_play_button'].style.display !== 'none') {
                this.$['video__overlay_play_button'].click();
              } else {
                this.$['video-controls__play'].click();
              }
              // stop page from scrolling down
              event.preventDefault();
              event.stopPropagation();
              break;
            case EvPersonalisedVideo._DOWN_ARROW:
            case EvPersonalisedVideo._F_KEY:
              this.shadowRoot.querySelector('#video-controls__fullscreen').click();
              break;
            case EvPersonalisedVideo._F4_KEY:
            case EvPersonalisedVideo._M_KEY:
              this.$['video-controls__mute'].click();
              break;
            default:
              break;
          }
        }
      }

      /**
       * Toggle the animations to show and hide the video controls
       * @private
       * @param {Number} transitionSpeed requested animation speed
       */
      _toggleControls(transitionSpeed = 0.35) {
        if (this.showControls) {
          TweenMax.killTweensOf(this.$['video-controls']);
          TweenMax.to(this.$['video-controls'], transitionSpeed, {opacity: 1, y: 0});
        } else {
          TweenMax.killTweensOf(this.$['video-controls']);
          TweenMax.to(this.$['video-controls'], transitionSpeed, {opacity: 0, y: 32, delay: 1});
        }
      }

      /**
       * Called when the video has focus
       * Show video controls
       * @private
       * @param {event} browser event
       */
      _onHover(event) {
        const video = document.querySelector('ev-personalised-video');
        const videoWidth = video.offsetWidth;
        const verticalVolumeSlider = this.$['video-controls__vertical-volume-wrapper'];

        if (videoWidth <= this._SHOW_VERTICAL_VOLUME || this._isTouchDevice) {
          this._hideVolumeSlider(); // only show on hover
        } else {
          this._showVolumeSlider();
        }
        // taps send a mouseover events for iPads/iPhones, so we want to ignore those
        // only animate controls if controlsAlwaysOn is false
        if (!this._isTouchDevice && !this.controlsAlwaysOn) {
          this.showControls = true;
          if (event.type !== 'focusin') {
            this._toggleControls();
          } else {
            this._toggleControls(0);
          }
        }
      }

      /**
       * Called when the video loses focus
       * Hide video controls
       * @private
       * @param {event} browser event
       */
      _onLoseHover(event) {
        const videoContainer = this.shadowRoot.querySelector('#video_container');
        // only hide controls if we are outside the container
        // mouseout getting called if we move away from the volume control
        const mouseOnContainer = this._isWithinElement(event, videoContainer);
        if (!mouseOnContainer) {
          if (!this.controlsAlwaysOn) {
            this.showControls = false;
            this._toggleControls();
          }
          const verticalVolumeSlider = this.$['video-controls__vertical-volume-wrapper'];
          const verticalSliderShown = (verticalVolumeSlider.style.display === 'none') ? false : true;
          const video = document.querySelector('ev-personalised-video');
          const videoWidth = video.offsetWidth;
          if (videoWidth <= this._SHOW_VERTICAL_VOLUME || this._isTouchDevice) {
            this._hideVolumeSlider();
          }
        }
      }

      /**
       * Called when the vertical volume slider loses focus
       * @private
       * @param {event} browser event
       */
      _onLoseHoverFromVolumeSlider(event) {
        const mouseOnVerticalSlider = this._isWithinElement(event, this.$['video-controls__vertical-volume-wrapper']);
        if (!mouseOnVerticalSlider) {
          this._hideVolumeSlider();
        }
      }

	    /**
       * Called when the video loses focus
       * Hide video controls
       * @private
       * @param {event} browser event
       */
      _onMobileToggleHover(event) {
        let videoControls = this.$['video-controls'];

        if (this._isTouchDevice) {
          if (videoControls.classList.contains('show-controls-on-touch')) {
            videoControls.classList.remove('show-controls-on-touch');
            this.showControls = false; // hide controls
            this._toggleControls();
          } else {
            videoControls.classList.add('show-controls-on-touch');
            this.showControls = true;
            this._toggleControls();
          }
        }
      }

      /**
       * Hides the video controls after the user touches the screen
       * @private
       * @param {object} event the touch event
       */
      _touchEvent(event) {
        const verticalVolumeSlider = this.$['video-controls__vertical-volume-wrapper'];
        const videoControls = this.$['video-controls'];
        const mouseOnControls = this._isWithinElement(event, this.$['video-controls']);
        const mouseOnVerticalSlider = this._isWithinElement(event, this.$['video-controls__vertical-volume-wrapper']);
        this._isTouchDevice = true;
        // this isn't defined until the resources are loaded
        if (verticalVolumeSlider !== undefined) {
          const verticalSliderShown = (verticalVolumeSlider.style.display === 'none') ? false : true;
          // if the vertical slider is showing and we click outside, hide the slider
          if (verticalSliderShown && !mouseOnControls && !mouseOnVerticalSlider) {
            this._hideVerticalVolumeSlider();
          }
          if (!verticalSliderShown && !mouseOnControls) {
            // hide the controls
            this._onMobileToggleHover(event);
          }
        }
      }

      /**
       * Preparing the video and invoking the audio files
       * when the large play button is clicked
       * @private
       */
      _handleInitialPlay(event) {
        event.target.style.display = 'none';
        this._showContainerSVG();
        this._invokeAllAudios();
        this._recordInteraction('INITIALPLAY', 'Begin playing video');
        this._setTotalTime(this._totalDuration());
        this._setTabIndexes();
      }

      _setTabIndexes() {
        this.$['video_container'].querySelectorAll('*').forEach((e) => {
          e.removeAttribute('tabindex');
        });
        this.controls.forEach((control) => {
          this.shadowRoot.querySelector('#' + control).setAttribute('tabindex', '0');
        });
      }

      /**
       * Display the correct playback icon on the player's controls
       * to reflect the current state of the video
       * @private
       * @param {Boolean} playing whether the video is playing
       * @param {Boolean} ended whether the video has ended
       */
      _computePlayArrowIcon(playing, ended) {
        if (!playing && !ended) {
          return true;
        }
        return false;
      }

      /**
       * @private
       * Hide replay icon when dragging or clicking timeline after ended state
       */
      _hideReplayIcon() {
        if (this.ended) {
          this.ended = false;
          this.playing = true;
        }
      }

      /**
       * @private
       * Toggles the playing status of the video
       */
      _togglePlay() {
        let eventLabel;
        this.playing = !this.playing;
        if (!this.video.built) {
          this.video.buildTimeLine(this.userInputs);
          this.$['total-duration'].innerText = this._getFormattedDuration(this._totalDuration());
        }

        if (this.playing) {
          if (this.ended) {
            this._replayVideo();
            eventLabel = 'Replayed';
          }  else {
            // play/resume
            this._playTimeline();
          }
        } else {
          // pause
          this.playing = false;
          this._pauseTimeline();
          clearTimeout(this.tpTimeout);
          this.pauseAllAudios();
        }

        let currentTime = this.video.tlMain.progress() * this._totalDuration()

        if (!eventLabel) {
          eventLabel = (this.playing ? 'Playing' : 'Paused') + ' at ' + currentTime + 's';
        }

        this._recordInteraction('TOGGLEPLAY', eventLabel);
      }

      /**
       * @private
       * Toggles the mute status of the video
       */
      _toggleMute() {
        this.muted = !this.muted;
        if (this.muted) {
          this.volume = 0;
        } else {
          this.volume = this._prevVolume;
        }

        let eventLabel = this.muted ? 'Mute' : 'Unmute';
        this._recordInteraction('TOGGLEMUTE', eventLabel);
      }

      /**
       *  Restyling which calculates a new aspect ratio when fullscreen.
       */
      _fullscreenStyling() {
        let movHeight = 720;
        let movWidth = 1280;
        let vScale = 1;
        let vAspect = movHeight / movWidth;
        let winWidth = window.innerWidth;
        let winHeight = window.innerHeight;
        let wAspect = winHeight / winWidth;
        if (wAspect > vAspect) {
          //portrait
          vScale = winWidth / movWidth;
        } else {
          //landscape
          vScale = winHeight / movHeight;
        }
        var minWidth = 250;
        if (movWidth * vScale < minWidth) {
          vScale = minWidth / movWidth;
        }
        let newWidth = movWidth * vScale;
        let newHeight = movHeight * vScale;

        this.$['video_container'].style.width = newWidth + 'px';
        this.$['video_container'].style.height = newHeight + 'px';
        this.$['video_container'].style.top = ((winHeight - (newHeight)) / 2) + 'px';
        this.$['video_container'].style.left = ((winWidth - (newWidth)) / 2) + 'px';
        if (this.isIOSDevice || this.isSafari) {
          this.style.maxHeight = winHeight + 'px';
          this.style.maxWidth = 'none';
          this.style.backgroundColor = 'black';
        }
        this.$['video_container'].style.maxHeight = 'none';
        this.$['video_container'].classList.add('fullscreen');
      }

      _normalScreenStyling() {
        this.$['video_container'].style.width =  '100%';
        this.$['video_container'].style.height = '100%';
        this.$['video_container'].style.top = 'auto';
        this.$['video_container'].style.left = 'auto';
        this.$['video_container'].style.maxHeight = '720px';
        this.$['video_container'].classList.remove('fullscreen');
      }

      /**
       * @private
       * Toggles the full screen mode of the video
       */
      _toggleFullScreen() {
        let eventLabel = this.fullScreen ? 'Fullscreen On' : 'Fullscreen Off';
        super._toggleFullScreen();
        this._recordInteraction('TOGGLEFULLSCREEN', eventLabel);
      }

      /**
       * Handling fullscreen changes events across different browsers
       * @private
       */
      _handleFullscreenChange(event) {
        super._handleFullscreenExit(event);
        if (this.fullScreen) {
          this._fullscreenStyling();
        } else {
          this._normalScreenStyling();
        }
        this._recordInteraction('TOGGLEFULLSCREEN', "Fullscreen Off");
      }

      /**
       * Generates the appropriate height for the subtitles
       * container
       * @private
       * @return {Number} height in pixels
       */
      _getSubtitleHeight() {
        let height = 132;
        const holder = this.shadowRoot.querySelector('.subtitles-holder');
        for (let h = 0; h < this.sHeights.length; h++){
          if (holder.offsetWidth <= this.sHeights[h][0]){
            height =  this.sHeights[h][1];
          }
        }
        return height;
      }

      /**
       * Show the horizonal volume slider, hide the vertical slider
       * @private
       */
       _showVerticalVolumeSlider() {
        const volumeVerticalSlider = this.shadowRoot.querySelector('#video-controls__volume-vertical');
        const verticalSliderBackground = this.shadowRoot.querySelector('#video-controls__vertical-volume-wrapper');
        const volumeSlider = this.shadowRoot.querySelector('#video-controls__volume-track');
        volumeVerticalSlider.style.display = 'block';
        verticalSliderBackground.style.display = 'block';
        // force progress bar to draw as it'c calculated by height which isn't known until the resources are loaded
        volumeVerticalSlider.initialise();
        volumeSlider.style.display = 'none';
      }

      /**
       * Show the horizonal volume slider, hide the vertical slider
       * @private
       */
      _showVolumeSlider() {
        const volumeVerticalSlider = this.shadowRoot.querySelector('#video-controls__volume-vertical');
        const volumeSlider = this.shadowRoot.querySelector('#video-controls__volume-track');
        volumeVerticalSlider.style.display = 'none';
        volumeSlider.style.display = 'block';
      }

      /**
       * Hide the vertical and horizonal volume sliders, useful in mobile view
       * @private
       */
      _hideVolumeSlider() {
        const volumeVerticalSlider = this.shadowRoot.querySelector('#video-controls__volume-vertical');
        const verticalSliderBackground = this.shadowRoot.querySelector('#video-controls__vertical-volume-wrapper');
        const volumeSlider = this.shadowRoot.querySelector('#video-controls__volume-track');
        volumeVerticalSlider.style.display = 'none';
        verticalSliderBackground.style.display = 'none';
        volumeSlider.style.display = 'none';
      }

      _hideAllSliders() {
        this.shadowRoot.querySelector('#video-controls__mute').style.display = 'none';
        this.shadowRoot.querySelector('#video-controls__volume-track').style.display = 'none';
      }

      /**
       * Hide the vertical volume slider
       * @private
       */
       _hideVerticalVolumeSlider() {
        const verticalSliderBackground = this.shadowRoot.querySelector('#video-controls__vertical-volume-wrapper');
        verticalSliderBackground.style.display = 'none';
      }

      /**
       * Show the horizonal or vertical volume slider when you hover over the volume control
       * @private
       */
      _onHoverOverVolume(event) {
        const video = document.querySelector('ev-personalised-video');
        const videoWidth = video.offsetWidth;
        if (this._isTouchDevice) {
          this._showVerticalVolumeSlider();
        } else {
          // desktop - only hide the vertical slider when page becomes small
          if (videoWidth > this._SHOW_VERTICAL_VOLUME) {
            this._showVolumeSlider();
          } else {
            this._showVerticalVolumeSlider();
          }
        }
      }

      /**
       * Updates the timeline & slider
       * @private
       */
      _updatePlayerStyling() {
        const videoWidth = this.offsetWidth;
        if (this.video) {
          this._updateTimeline(this.video.tlMain.progress());
          this._elapsedChanged(this.video.tlMain.progress());
        }
        if (this._isTouchDevice) {
          this._hideAllSliders();
        } else if (videoWidth <= this._SHOW_VERTICAL_VOLUME) {
          this._hideVolumeSlider(); // only show on hover
        } else {
          this._showVolumeSlider();
        }
        if (this.fullScreen) {
          this._fullscreenStyling();
        }
      }

      /**
       * Toggles the subtitles of the video
       * @private
       */
      _toggleSubtitles() {
        let holder = this.shadowRoot.querySelector('.subtitles-holder');
        this.subtitles = !this.subtitles;
        if (this.subtitles) {
          let sh = this._getSubtitleHeight();
          TweenMax.set(holder, {scale: 1});
          TweenMax.to(holder, 0.2, { autoAlpha: 1, y: 0});
        } else {
          TweenMax.to(holder, 0.2, {autoAlpha: 0, y: holder.offsetHeight});
        }
        this._toggleScene(this.subtitles);
        let eventLabel = this.subtitles ? 'Subtitles On' : 'Subtitles Off';
        this._recordInteraction('TOGGLESUBTITLES', eventLabel);
      }

      /**
       * Handles changes to the volume set on the player
       * @private
       * @param {Number} newVolume new volume set on the player
       * @param {Number} oldVoume previous volume set on the player
       */
      _volumeChanged(newVolume, oldVolume) {
        super._volumeChanged(newVolume, oldVolume);
        // 'move' the volume slider
        const sliderPos = newVolume * 100;
        this.$['video-controls__volume-track'].value = sliderPos;
      }

      /**
      * Updates the timeline progression when player has resized
      * @private
      * @param {Number} progress current progress of the timeline
      */
      _updateTimeline(progress) {
        let offsetWidth = this.$['track-click'].offsetWidth;
        this.$['track-lug'].style.left = (progress * offsetWidth) + 'px';
        this.$['track-fill'].style.width = (progress * offsetWidth) + 'px';
      }

      /**
       * Update the time elapsed in the video player
       * when the timeline is playing
       * @private
       * @param {Integer} time time in seconds
       */
      _updateTimeElapsed(time) {
        let newTimeElapsed = this._getFormattedDuration(time);
        this.$['time-elapsed'].innerHTML = newTimeElapsed;
      }

      /**
       * Update the volume when the volume slider changes
       * @private
       * @param {event}
       */
      _volumeSliderChanged(event) {
        const volumeSlider = event.currentTarget;
        let newVolume = volumeSlider.immediateValue == 0 ? 0 : volumeSlider.immediateValue/100;

        // call volume change on video
        if (this.audios) {
          this.updateVolume(newVolume);
        }

        this._recordInteraction('VOLUMECHANGE', 'Volume changed to' + newVolume);
      }

      /**
       * Updates the positioning of the pointer on the video player and
       * timer as the timeline progresses each frame per second. In addition
       * it plays the relevant audio file based the on the current progress of
       * the timeline.
       * @private
       */
      _updateTrack() {
        let currentTime = this.video.tlMain.progress() * this._totalDuration();
        this._setElapsedTime(currentTime);
        this._updateTimeline(this.video.tlMain.progress());
        this._updateTimeElapsed(currentTime);
        this._updateSubtitles('.subtitles-text');
        if (this.playing && !this.dragging) {
          this._playAudios();
        }
      }

      /**
       * Handles the click event on the volume slider and adjusts the volume
       * accordingly
       * @private
       * @param {object} event the mouse event fired when the user clicks on
       * the slider
       */
       _volumeClick(event) {
         //the volume slider is in the range 0-100 and the volume needs to be 0-1
         let volumeClicked = this.$['video-controls__volume-track'].value;
         if (volumeClicked != 0) {
           volumeClicked = volumeClicked / 100;
         }
         this.volume = volumeClicked;
       }

      /**
       * Handles the click event on the time line and adjusts the
       * video position accordingly
       * @private
       * @param {object} event the mouse event fired when the user clicks on
       * the timeline
       */
      _handleTimelineClick(event) {
        const element = event.currentTarget;
        const clickPos = Math.abs(event.offsetX / element.offsetWidth);

        this.pauseAllAudios();
        this._elapsedChanged(clickPos);

        this._hideReplayIcon();
      }

      /**
       * Handle track pointer when user presses
       * @private
       */
      _handlePointerPress() {
        this._pauseTimeline();
        this.pauseAllAudios();
      }

      /**
       * Handle track pointer release
       * @private
       */
      _handlePointerRelease() {
        if (this.playing) {
          this._playTimeline();
        }
      }

      /**
       * Handles the dragging of the lug on the time line.
       * @private
       * @param {object} event the touch event fired when the user drags the
       * lug on the time lime
       */
      _handleTrack(event) {
        this._hideReplayIcon();
        clearTimeout(this.tpTimeout);
        switch (event.detail.state) {
          case 'start':
            if (event.currentTarget.id === 'track-lug') {
              this.dragging = true;
            }
            this._startLeft = parseInt(event.currentTarget.style.left) || 0
            break;
          case 'track':
            let dLeft = this._startLeft + event.detail.dx;
            if (dLeft < 0) {
              dLeft = 0;
            }

            const trackWidth = event.currentTarget.previousElementSibling.previousElementSibling.offsetWidth;
            if (dLeft > trackWidth) {
              dLeft = trackWidth
            }

            const value = dLeft / trackWidth;
            if (event.currentTarget.id === 'track-lug') {
              this.elapsed = value;
            }

            break;
          case 'end':
            if (event.currentTarget.id === 'track-lug') {
              this.dragging = false;
            }

            break;
        }
      }

      /**
       * True, if the click or touch event is within an object
       * @private
       * @param {object} event the touch event
       * @Boolean true or false
       */
       _isWithinElement(event, element) {
        let eventWithElement = false;

        let elementArea = element.getBoundingClientRect();
        const top = elementArea.top;
        const bottom = elementArea.bottom;
        const left = elementArea.left;
        const right = elementArea.right;

        // if the event is a touchstart, get the co-ords from event.touches[0]
        // otherwise clientX and clientY are undefined
        let x;
        let y;
        if (this._isTouchDevice || (event !== undefined && event.touches !== undefined && event.touches[0] !== undefined)) {
          // touch device
          x = event.touches[0].clientX;
          y = event.touches[0].clientY;
        } else {
          // desktop device
          x = event.clientX;
          y = event.clientY;
        }

        if ((y >= top && y <= bottom) && (x >= left && x <= right)) {
            eventWithElement = true;
        }

        return eventWithElement;
      }
    }
    window.customElements.define(EvPersonalisedVideo.is, EvPersonalisedVideo);
  </script>
</dom-module>
