<link rel="import" href="../polymer/polymer.html">
<script type="text/javascript" src="../promise-polyfill/dist/polyfill.min.js"></script>
<script type="text/javascript" src="../ua-parser-js/src/ua-parser.js"></script>
<script type="text/javascript" src="../eve/eve.js"></script>
<script>
  /**
   * `EvVideoBehavior` provides a behavior which utilises SVG animations
   * and HTML5 Audio to emulate a traditional MP4 video.
   *
   * @polymer
   * @mixinFunction
   */
  const EvVideoBehavior = function (superClass) {
    return class extends superClass {
      constructor() {
        super();
        this.loadedAudios = 0;
        this.audiosInvoked = 0;
        this.playing = false;
        this.firstFrameShown = false;
        this.staticSpeechInit = false;
        this.audios = [];
        this.captions = [];
        this.audioOrder = [];
        this.video;
        this.tpTimeout;
        this.parser = new UAParser(navigator.userAgent);
        this.isChrome = this.parser.getBrowser().name === 'Chrome';
        this.isFirefox = this.parser.getBrowser().name === 'Firefox';
        this.isEdge = this.parser.getBrowser().name === 'Edge';
        this.isIE = this.parser.getBrowser().name === 'IE';
        this.isSafari = this.parser.getBrowser().name === 'Safari';
        this.isMobileSafari = this.parser.getBrowser().name === 'Mobile Safari';
        this.isIOSDevice = this.parser.getOS().name === 'iOS';
        this.isMacDevice = this.parser.getOS().name === 'Mac OS';
        this.isIPadDevice = this.parser.getDevice().model === 'iPad';
        this.isIPhoneDevice = this.parser.getDevice().model === 'iPhone';
        const AudioContext = window.AudioContext || window.webkitAudioContext;
      }

      static get properties() {
        return {
          /** Flag indicating whether the video is playing or not */
          playing: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          },
          /** Flag to indicate whether the timeline of the video is being dragged */
          dragging: {
            type: Boolean,
            reflectToAttribute: true,
            value: false
          },
          /** Flag to indicate whether video is maximized fullscreen or not */
          fullScreen: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          },
          /** The volume of the video. Can be in the range 0 - 1 */
          volume: {
            type: Number,
            value: 0.75,
            observer: '_volumeChanged'
          },
          /** The elapsed time of the video in seconds */
          elapsed: {
            type: Number,
            observer: '_elapsedChanged'
          },
          /* Flag to indicate whether subtitles are displayed or not */
          subtitles: {
            type: Boolean,
            value: false,
          },
          /** Whether the volume is muted or not */
          muted: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          },
          /** Flag to indicate when the video timeline has reached the end of the timeline */
          ended: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          },
          /** The frame rate you wish to play the video timeline **/
          frameRate: {
            type: Number,
            reflectToAttribute: true
          },
          /** The base64 string of the audio file current playing */
          currentlyPlaying: {
            type: String,
            readOnly: true
          },
          /** The total time of the video */
          totalTime : {
            type: Number,
            readOnly: true
          },
          /** The current elapsed time of the video */
          elapsedTime : {
            type: Number,
            readOnly: true
          },
          /**
          * @private
          * The initial image src
          */
          _initialImageSrc: {
            type: String,
            value: function() { return this.resolveUrl('initial.png'); }
          },
          /**
          * @private
          * Flag used to indicate whether a touch device is being used
          */
          _isTouchDevice: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          },
          /**
          * The flag to check if any text-to-speech audio file has overlapped with another
          */
          overlap: {
            type: Boolean,
            value: false,
            readOnly: true
          }
        }
      }

      /**
      * Initialize the video
      * @private
      */
      _initVideo(staticAudioCallback) {
        this.video = new Video(this);
        this.video.tlMain.progress(0);
        if (this.userInputs.primaryColour && this.userInputs.secondaryColour) {
          const primaryColorElements = this.shadowRoot.querySelectorAll('.fill-primary');
          const secondaryColorElements = this.shadowRoot.querySelectorAll('.fill-secondary');
          if(this.isIE){
            primaryColorElements.forEach( element => {
              element.style.fill = this.userInputs.primaryColour;
            });
            secondaryColorElements.forEach( element => {
              element.style.fill = this.userInputs.secondaryColour;
            });
          } else {
            this._styleVideoWithColor(primaryColorElements, '--ev-video-primary-color', this.userInputs.primaryColour);
            this._styleVideoWithColor(secondaryColorElements, '--ev-video-secondary-color', this.userInputs.secondaryColour);
          }
        }
        if (this.userInputs.tertiaryColour){
          const tertiaryColorElements = this.shadowRoot.querySelectorAll('.fill-tertiary');
          if(this.isIE){
            tertiaryColorElements.forEach( element => {
              element.style.fill = this.userInputs.tertiaryColour;
            });
          } else {
            this._styleVideoWithColor(tertiaryColorElements, '--ev-video-tertiary-color', this.userInputs.tertiaryColour);
          }
        }
        // check if text-to-speech audio objects are already being used
        const isDynamicTTSAudioFound = this._isDynamicTTSAudioFound();
        if (!isDynamicTTSAudioFound) {
          if (staticAudioCallback === 'function') {
            staticAudioCallback();
          }
        }
        this._initSpeech();
        this._initSoundEffects();
      }

      /**
      * Check if tts audio is being used dynamically
      * @private
      * @return {Boolean} whether text-to-speech is being used
      */
      _isDynamicTTSAudioFound() {
        let ttsTextFound = false;
        for (let a = 0; a < this.audios.length; a++) {
          if (this.audios[a].type === 'text-to-speech') {
            ttsTextFound = true;
            break;
          }
        }
        return ttsTextFound;
      }

      /**
      * Style Video elements
      * @private
      * @param {NodeList} elements all desired elements
      * @param {String} cssVariable variable to override
      * @param {String} color hexidecimal color
      */
      _styleVideoWithColor(elements, cssVariable, color) {
        if (elements.length > 0) {
          elements.forEach(element => {
            element.style.setProperty(cssVariable, color);
          });
        }
      }

      /**
      * Handles changes when the timeline has elapsed
      * @private
      * @param {Number} elapsedTime time elapsed
      */
      _elapsedChanged(elapsedTime) {
        this.video.tlMain.progress(elapsedTime);
        if (!this.playing) {
          this._setCurrentTTS();
        }
      }

      /**
      * Handles changes to the volume set on the player
      * @private
      * @param {Number} newVolume new volume set on the player
      * @param {Number} oldVoume previous volume set on the player
      */
      _volumeChanged(newVolume, oldVolume) {
        // save old volume for unmute
        this._prevVolume = oldVolume;
        if (newVolume === 0) {
          this.muted = true;
        } else {
          this.muted = false;
        }
        // call volume change on video
        if (this.audios) {
          this.updateVolume(newVolume);
        }
      }

      /**
      * @private
      * Toggles the full screen mode of the video
      */
      _toggleFullScreen() {
        this.fullScreen = !this.fullScreen;
        if (this.fullScreen) {
          if (this.webkitRequestFullScreen) {
            this.webkitRequestFullScreen();
          } else if (this.msRequestFullscreen) {
            this.msRequestFullscreen();
          } else if (this.mozRequestFullScreen) {
            this.mozRequestFullScreen();
          }
        } else {
          if (document.webkitExitFullscreen) {
            document.webkitExitFullscreen();
          } else if (document.mozCancelFullScreen) {
            document.mozCancelFullScreen();
          } else if (document.exitFullscreen) {
            document.exitFullscreen();
          } else if (document.msExitFullscreen) {
            document.msExitFullscreen(); // IE 11
          }
        }
      }

      _toggleScene(subtitlesOn) {
        this.video.resizeScene(subtitlesOn);
      }

      /**
      * Handling fullscreen exit events across different browsers
      * @private
      */
      _handleFullscreenExit(event) {
        let videoElement = event.target;
        if (!document.webkitCurrentFullScreenElement && !document.mozFullScreenElement && !document.fullScreenElement) {
          videoElement.fullScreen = false;
        }
      }

      /**
      * @private
      * @return {Boolean} whether or not device is supported
      */
      _isDeviceSupported() {
        let deviceSupported = true;

        if (navigator.userAgent.toLowerCase().indexOf('android') !== -1) {
          if (parseFloat(this._getAndroidVersion()) < 5) {
            deviceSupported = false;
          }
        }
        if (navigator.userAgent.indexOf('SAMSUNG ') >= 0 && navigator.userAgent.indexOf('SamsungBrowser/') >= 0) {
          deviceSupported = false;
        }
        if (this._isTouchDevice) {
          if (this.isIOSDevice) {
            if (this._getIOSversion()[0] < 9) {
              deviceSupported = false;
            }
          }
        }
        return deviceSupported;
      }

      /**
      * Load all static and dynamic audios and text to speech audios
      * This insures that the audios are ready to be played.
      * @private
      * @param {String} loadingType type of audio you wish to load
      * @param {Function} callback the function to invoke after the audios
      * have successfully loaded`
      */
      _loadAudios(callback) {
        for (let i = 0; i < this.audios.length; i++) {
          if (this.audios[i].src) {
            let request = new XMLHttpRequest();
            request.open('GET', this.audios[i].src, true);
            request.responseType = 'blob';
            request.onload = (event) => {
              console.log('Calling XMLHttpRequest on: ' + this.audios[i].src);
              if (event.target.status === 200) {
                const data = event.target.response;
                if (data instanceof Blob) {
                  let fileReader = new FileReader();
                  fileReader.readAsDataURL(data);
                  fileReader.onload = (reader) => {
                    this.audios[i].base64String = reader.target.result;
                    this._initAudio(this.audios[i], callback);
                  }
                  fileReader.onerror = () => {
                    console.log('Error reading blob from | ' + this.audios[i].src);
                  }
                }
              }
            }
            request.onerror = () => {
              console.log('An error has occurred loading | ' + this.audios[i].src);
            }
            request.send();
          } else {
            this._initAudio(this.audios[i], callback);
          }
        }
      }

      /**
      * Initialize the sound effects for the video
      * @private
      */
      _initSoundEffects() {
        const videoSoundEffects = this.video.soundEffects;
        if (videoSoundEffects) {
          const soundEffectAudios = this.audios.filter(audioObj => {
            return audioObj.type === 'sound-effect'
          });
          soundEffectAudios.forEach((mp3AudioObj, index) => {
            videoSoundEffects.forEach(soundEffect => {
              if (mp3AudioObj.name === soundEffect.name) {
                mp3AudioObj.id = soundEffect.id;
                mp3AudioObj.startAt = soundEffect.startAt;
                // if the sound-effect is readable add as a caption for subtitles
                if (soundEffect.readable) {
                  mp3AudioObj.caption = soundEffect.readable;
                }
                if (typeof soundEffect.orderNo !== 'undefined') {
                  mp3AudioObj.orderNo = soundEffect.orderNo;
                }
              }
            });
          });
        }
      }

      /**
      * Initialize the text-to-speech audio files for the
      * video
      * @private
      */
      _initSpeech() {
        const videoTexts = this.video.texts;
        if (videoTexts) {
          const ttsAudios = this.audios.filter(audioObj => {
            return audioObj.type === 'text-to-speech'
          });
          if (videoTexts.length === ttsAudios.length) {
            ttsAudios.forEach((audioObj, index) => {
              audioObj.id = videoTexts[index].id;
              audioObj.startAt = videoTexts[index].startAt;
            });
          }
          this._addCaptions(ttsAudios);
        }
      }

      /**
      * Add the appropriate captions to the
      * corresponding audio object
      * @private
      */
      _addCaptions(ttsAudios) {
        ttsAudios.forEach((audioObj, index) => {
          if (audioObj.type === 'text-to-speech') {
            audioObj.caption = this.captions[index];
          }
        });
      }

      /**
      * Convert all base64 encoded strings to
      * blobs.
      * @private
      * @param String base64 string
      * @return Object blob
      */
      _base64ToBlob(base64String) {
        let byteString = atob(base64String.split(',')[1]);
        let ab = new ArrayBuffer(byteString.length);
        let ia = new Uint8Array(ab);
        for (let i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }
        return new Blob([ab]);
      }

      /**
      * Create the audio objects necessary for the timeline to play
      * @private
      * @param Object audio object
      */
      _initAudio(audioObj, callback) {
        // Chrome desktop clips and repeats sounds if they're Base64 strings, so use blobs instead
        // Safari does not invoke onloadedmetadata or onended when using blobs so use base64Strings instead
        if (this.isChrome || this.isFirefox) {
          let aBlob = this._base64ToBlob(audioObj.base64String);
          audioObj.audio = new Audio(URL.createObjectURL(aBlob));
        } else {
          audioObj.audio = new Audio(audioObj.base64String);
        }
        audioObj.audio.onloadedmetadata = () => {
          console.log('onloadmetaddata invoked ' + audioObj.type);
          audioObj.duration = audioObj.audio.duration;
          audioObj.currentTime = 0;
          audioObj.paused = false;
          this.loadedAudios++;
          this._checkloadedAudios(callback);
        }
        audioObj.audio.onended = () => {
          audioObj.playing = false;
          audioObj.audio.currentTime = 0;
          audioObj.audio.pause();
        }
      }

      /**
      * @private
      * Get version if Android device is used
      * @return {Number} Android Version
      */
      _getAndroidVersion(ua) {
        ua = (ua || navigator.userAgent).toLowerCase();
        let match = ua.match(/android\s([0-9\.]*)/);
        return match ? match[1] : false;
      };

      /**
      * @private
      * Get version if iOS device is used
      * @return {Array} iOS Version
      */
      _getIOSversion() {
        if (/iP(hone|od|ad)/.test(navigator.platform)) {
          // supports iOS 2.0 and later: <http://bit.ly/TJjs1V>
          var v = (navigator.appVersion).match(/OS (\d+)_(\d+)_?(\d+)?/);
          return [parseInt(v[1], 10), parseInt(v[2], 10), parseInt(v[3] || 0, 10)];
        }
      }

      /**
      * Invoke all audios
      * @private
      */
      _invokeAllAudios() {
        if (!this.isChrome && !this.isIE) {
          this.audios.forEach((audioObj) => {
            audioObj.audio.muted = true;
            audioObj.playing = false;
            let aPromise = this._play(audioObj);
            if (aPromise !== undefined) {
              aPromise.then(() => {
                this.audiosInvoked++;
                this._checkInvoked();
              }).catch(error => {
                console.log(error);
              });
            }
          });
        } else {
          this._togglePlay();
        }
      }

      /**
      * Check that are all audios are invoked.
      * @private
      */
      _checkInvoked() {
        if (this.audiosInvoked >= this.audios.length) {
          console.log('All audios are invoked');
          this.audios.forEach((audioObj) => {
            this._pause(audioObj);
            audioObj.audio.currentTime = 0;
            audioObj.audio.muted = false;
          });
          this._togglePlay();
        }
      }

      /**
      * Check all audios have loaded successfully.
      * If so, display the large play button for the initial play
      * @private
      * @return {Boolean} every audio file loaded
      */
      _checkloadedAudios(callback) {
        if (this.loadedAudios === this.audios.length) {
          console.log('All audios are loaded');
          let soundEffectAudios = this.audios.filter(audioObj => {
            return audioObj.type === 'sound-effect' && audioObj.startAt !== undefined;
          });
          let ttsAudios = this.audios.filter(audioObj => {
            return audioObj.type === 'text-to-speech';
          });
          /* Order the audios first before computing intervals */
          soundEffectAudios.sort(this._sortAudios);
          ttsAudios.sort(this._sortAudios);
          let newSoundEffects = this._computeSpeechIntervals(soundEffectAudios);
          let newTTS = this._computeSpeechIntervals(ttsAudios);
          this.audios = [];
          this.audios = newSoundEffects.concat(newTTS);
          this._computeSubtitleIntervals();
          if (typeof callback === 'function') {
            callback();
          }
          return true;
        }
        return false;
      }

      _sortAudios(a, b) {
        if (typeof a.orderNo !== 'undefined' && typeof b.orderNo !== 'undefined') {
          if (a.orderNo < b.orderNo) {
            return -1;
          }
          if (a.orderNo > b.orderNo) {
            return 1;
          }
        }
        return 0;
      }

      /**
      * Compute the speech intervals throughout the video
      * @private
      * @param {Array.<Object>} audios
      * @return {Array.<Object>} audios with computed startAt times
      */
      _computeSpeechIntervals(audios) {
        let voiceAt = 0;
        for (let a = 0; a < audios.length; a++) {
          if (audios[a].id !== 'bgMusic') {
            if (typeof (audios[a].startAt) === 'string') {
              if (audios[a].startAt.indexOf('ps+=') === 0) {
                audios[a].relStartAt = audios[a].startAt;
                audios[a].startAt = voiceAt - audios[a - 1].duration + parseFloat(audios[a].startAt.substr(4));
              } else if (audios[a].startAt.indexOf('+=') === 0) {
                audios[a].relStartAt = audios[a].startAt;
                audios[a].startAt = voiceAt + parseFloat(audios[a].startAt.substr(2));
              } else if (audios[a].startAt.indexOf('-=') === 0) {
                audios[a].relStartAt = audios[a].startAt;
                audios[a].startAt = voiceAt - parseFloat(audios[a].startAt.substr(2));
              }
            }
            voiceAt = audios[a].startAt + audios[a].duration;
          }
        }
        return audios;
      }

      /**
      * Display and update subtitle text within a specfic
      * element
      * @private
      * @param {String} selector
      */
      _updateSubtitles(selector) {
        const element = this.shadowRoot.querySelector(selector);
        let tAlpha = 0;
        let currentTime = this.video.tlMain.progress() * this._totalDuration();
        for (let s = 0; s < this.audios.length; s++) {
          if (this.audios[s].showAt < currentTime && this.audios[s].hideAt + 0.25 > currentTime) {
            element.textContent = this.audios[s].caption;
            if (currentTime < this.audios[s].showAt + 0.25) {
              tAlpha = (currentTime - this.audios[s].showAt) / 0.25;
            }
            else if (currentTime > this.audios[s].hideAt) {
              tAlpha = 1 - ((currentTime - this.audios[s].hideAt) / 0.25);
            }
            else {
              tAlpha = 1;
            }
          }
          element.style.opacity = tAlpha;
        }
      }

      /**
      * Computing the start at and show at times of the subtitles
      * @private
      */
      _computeSubtitleIntervals() {
        const subFade = 0.25;
        for (let a = 0; a < this.audios.length; a++) {
          let isTTS = this.audios[a].type === 'text-to-speech';
          let isReadableSound = this.audios[a].type === 'sound-effect' && this.audios[a].caption;
          if (isTTS || isReadableSound) {
            this.audios[a].showAt = this.audios[a].startAt - subFade;
            this.audios[a].hideAt = this.audios[a].startAt + this.audios[a].duration + subFade;
          }
        }
      }

      /**
      * Whether a audio file is being played
      * or not
      * @private
      * @param {Object} audioObj audio object
      * @return {Boolean} whether playing or not
      */
      _isPlaying(audioObj) {
        if (audioObj.audio.currentTime > 0 && !audioObj.audio.paused) {
          return true;
        }
        return false;
      };

      /**
      * Check if the audio is actually playing with sound emitting
      * @private
      * @param {Object} audioObj audio object
      * @return {Boolean} whether a audio file is emitting sound or not
      */
      _isEmittingSound(audioObj) {
        if (this._isPlaying(audioObj) && !audioObj.audio.muted && audioObj.audio.volume > 0) {
          return true;
        }
        return false;
      }

      /**
      * Pause all the audios
      */
      pauseAllAudios() {
        this.audios.forEach((audioObj) => {
          if (audioObj.playing) {
            audioObj.playing = false;
            if (!audioObj.audio.paused) {
              this._pause(audioObj);
            }
          }
        });
      }

      /**
      * @private
      * Update the content of the video
      */
      _updateVideoContent() {
        this.video.updateVideoContent();
      }

      /**
      * @private
      * Play or pause the video depending on the current active
      * state of the tab of a user's browser
      */
      _handleTabActivity() {
        if (!this.isIE) {
          const hiddenEvents = {
            hidden: 'visibilitychange',
            webkitHidden: 'webkitvisibilitychange',
            mozHidden: 'mozvisibilitychange',
            msHidden: 'msvisibilitychange'
          }
          for (event in hiddenEvents) {
            if (event in document) {
              document.addEventListener(hiddenEvents[event], (event) => {
                if (document.visibilityState === 'hidden' && this.playing) {
                  this.pauseAllAudios();
                  this._pauseTimeline();
                } else if (this.playing) { // if the player wasn't paused
                  this._playTimeline();
                }
              });
            }
          }
        }
      }

      /**
      * Set the volume of all audios
      * @param {Integer} newVolume 0 is being the the lowest
      * and 1 being the highest
      */
      updateVolume(newVolume) {
        this.audios.forEach((audioObj) => {
          audioObj.audio.volume = newVolume;
        });
      }

      /**
      * Play a audio file at a particular time
      * @private
      * @param {Object} audioObj audio object
      * @param {Integer} time time to start playing audio file (seconds)
      */
      _play(audioObj, startTime) {
        startTime = startTime || 0;
        audioObj.paused = false;
        audioObj.playing = true;
        audioObj.audio.currentTime = startTime;
        return audioObj.audio.play();
      }

      /**
      * Play the timeline of the video.
      * @private
      */
      _playTimeline() {
        if (this.frameRate) {
          let pStep = (1 / this.frameRate) / this.video.tlMain.duration();
          this.video.tlMain.progress(this.video.tlMain.progress() + pStep);
          if (this.video.tlMain.progress() < this.video.tlMain.duration() && this.playing) {
            this.tpTimeout = setTimeout(this._playTimeline.bind(this), (1 / this.frameRate) * 1000);
          }
        } else {
          this.video.tlMain.play();
        }
      }

      /**
      * Pause the timeline of the video
      * @private
      */
      _pauseTimeline() {
        this.video.tlMain.pause();
      }

      /**
      * Pause a audio file
      * @private
      * @param {Object} audioObj audio Object
      */
      _pause(audioObj) {
        audioObj.paused = true;
        audioObj.playing = false;
        audioObj.audio.pause();
      }

      /**
      * @private
      * Restarts the video from the video start
      */
      _replayVideo() {
        this.playing = true;
        this.ended = false;
        this.video.tlMain.progress(0);
        this._resetAudios();
        this._playTimeline();
      }

      /**
      * @private
      * Restarts all audios to start time
      */
      _resetAudios() {
        this.audios.forEach(audioObj => {
          audioObj.audio.currentTime = 0;
        });
      }

      /**
      * Play audios files in accordance with the progress of
      * the timeline
      * @private
      */
      _playAudios() {
        let currentTime = this._totalDuration() * this.video.tlMain.progress();
        for (let a = 0; a < this.audios.length; a++) {
          if (this.audios[a].startAt <= currentTime && (this.audios[a].startAt + this.audios[a].duration) >= currentTime) {
            let audioType = this.audios[a].type;
            let captionExists = this.audios[a].caption !== undefined;
            if (!this.audios[a].playing) {
              let aPromise = this._play(this.audios[a], (currentTime - this.audios[a].startAt));
              if (aPromise !== undefined) {
                aPromise.then().catch(error => {
                  console.error(error.message);
                });
              }
              this.audioOrder.push({
                'type': this.audios[a].type,
                'startedAt': this.audios[a].startAt
              });
              if (audioType === 'text-to-speech' || (audioType === 'sound-effect' && captionExists)) {
                this._setCurrentlyPlaying({
                  base64String: this.audios[a].base64String,
                  isEmittingSound: this._isEmittingSound(this.audios[a])
                });
              }
            }
          }
        }
      }

      /**
      * @private
      * Set text-to-speech audio file
      * that is about to play
      */
      _setCurrentTTS() {
        let currentTime = this._totalDuration() * this.video.tlMain.progress();
        for (let a = 0; a < this.audios.length; a++) {
          if (this.audios[a].startAt <= currentTime && (this.audios[a].startAt + this.audios[a].duration) >= currentTime) {
            if (this.audios[a].type === 'text-to-speech') {
              this._setCurrentlyPlaying({
                base64String: this.audios[a].base64String,
                isEmittingSound: this._isEmittingSound(this.audios[a])
              });
            }
          }
        }
      }

      /**
      * Check if there is any other text-to-speech audio is
      * playing simultaneously
      * @private
      * @param {Object} audioObj current audio that is playing
      */
      _isOverlapping(audioObj) {
        let overlapped = false;
        if (this._isPlaying(audioObj) && audioObj.type === 'text-to-speech') {
          for (let a = 0; a < this.audios.length; a++) {
            if (this.audios[a] !== audioObj && this.audios[a].type === 'text-to-speech' && !this.audios[a].audio.paused) {
              this._setOverlap(true);
              overlapped = true;
              break;
            }
          }
        }
        return overlapped;
      }

      /**
      * Total duration of the timeline
      * @private
      * @return {Integer} duration
      */
      _totalDuration() {
        return this.video.tlMain.totalDuration();
      }

      /**
      * Compute formatted duration
      * @private
      * @param {Integer} time time in seconds
      * @return {String} formatted time
      */
      _getFormattedDuration(time) {
        let mins = Math.floor(time / 60);
        let secs = Math.round(time - mins * 60);
        if (secs === 60) {
          mins++;
          secs = 0;
        }
        if (secs < 10) {
          secs = '0' + secs;
        }
        return mins + ':' + secs;
      }
    }
  }
</script>
