<script type="text/javascript" src = "/demo/assets/hargreaves/fetchHLResources.js"></script>
<script type="text/javascript" src = "/demo/assets/balloon-flight/fetchBFResources.js"></script>
<script type="text/javascript" src = "/demo/assets/hello-world/fetchHWResources.js"></script>