<script src="../greensock/TweenMax.js"></script>
<script src="../greensock/plugins/MorphSVGPlugin.js"></script>
<script src="../greensock/plugins/DrawSVGPlugin.js"></script>
<script src="../greensock/plugins/BezierPlugin.js"></script>
<script src="../greensock/plugins/AttrPlugin.js"></script>
<script src="../greensock/easing/CustomEase.js"></script>
